Repository pachyderm/pachyderm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pachyderm/CORE, @pachyderm/INT, @pachyderm/PFS

.github/CODEOWNERS:

# All
/src/*/*.proto           @pachyderm/CORE @pachyderm/INT

# PFS
/src/pfs/                @pachyderm/PFS
/src/server/pfs/         @pachyderm/PFS
/src/internal/pfsdb/     @pachyderm/PFS
/src/internal/storage/   @pachyderm/PFS

# Integrations
/src/server/pfs/s3       @pachyderm/INT
/src/server/pfs/fuse     @pachyderm/INT
/python-sdk              @pachyderm/INT

syntaxt
  .circleci/main.yml
Owners: none

remove import aliases
  src/internal/restgateway/restgateway.go
  src/server/http/http.go
Owners: none

remove cgo flag
  .circleci/main.yml
Owners: none

don't set empty auth token
  src/internal/client/client.go
Owners: none

REST API smoke test using versionpb_v2.API/GetVersion
  src/server/proxy_test.go
Owners: none

propagate sidecar memory resources to environment variables that the pachd builder checks to set GOMEMLIMIT
  src/server/pps/server/worker_rc.go
Owners: none

use constants for the environment variable names
  src/server/pps/server/worker_rc.go
Owners: none

commit iterator child context
  src/server/worker/datum/iterator.go
Owners: none

syntax
  .circleci/main.yml
Owners: none

remove ide insert
  .circleci/main.yml
Owners: none

run all tests
  .circleci/main.yml
Owners: none

debug k8s info
  etc/testing/kube_debug.sh
  src/internal/minikubetestenv/deploy.go
Owners: none

Remove stray log
  src/server/pfs/fuse/server.go
Owners: @pachyderm/INT

[CORE-1983] Allow YAML cluster defaults in pachctl (#9371)
  src/internal/ppsutil/decoder.go
  src/server/pps/cmds/cmds.go
  src/server/pps/cmds/cmds_realenv_test.go
  src/server/pps/cmds/defaults_test.go
Owners: none

misc cmd updates
  src/server/misc/cmds/cmds.go
Owners: none

[PFS-94-138] Do not cascade delete commits when branches are deleted.
  src/internal/clusterstate/v2.8.0/pfsdb.go
  src/internal/pfsdb/commits.go
  src/internal/pfsdb/commits_test.go
  src/internal/pfsdb/model.go
  src/server/pfs/server/commit_set.go
  src/server/pfs/server/driver.go
  src/server/pfs/server/driver_fsck.go
  src/server/pfs/server/master.go
  src/server/pfs/server/trigger.go
Owners: @pachyderm/PFS

debug pvc
  etc/testing/circle/kube_debug.sh
  src/internal/minikubetestenv/deploy.go
Owners: none

[Mount Server] Fixes mounting datum bug in loopback.go (#9374)
  src/server/pfs/fuse/loopback.go
  src/server/pfs/fuse/options.go
  src/server/pfs/fuse/server.go
  src/server/pfs/fuse/server_integration_test.go
Owners: @pachyderm/INT

minor updates
  src/server/misc/cmds/cmds.go
Owners: none

debug finalizer
  src/internal/minikubetestenv/deploy.go
Owners: none

[PFS-124] add squash commit function.
  src/internal/transactionenv/txncontext/context.go
  src/server/pfs/server/commit_set.go
  src/server/pps/server/transaction_defer.go
Owners: @pachyderm/PFS

deploy test changes
  .circleci/main.yml
Owners: none

log pvc retries
  src/internal/minikubetestenv/deploy.go
Owners: none

pps: worker depends on PFS directly (#9375)
  src/internal/client/client.go
  src/internal/pachd/builder.go
  src/internal/testpachd/realenv/real_env.go
  src/server/pps/server/api_server.go
  src/server/pps/server/worker.go
  src/server/worker/common/common.go
  src/server/worker/datum/create.go
  src/server/worker/datum/iterator.go
  src/server/worker/datum/iterator_test.go
  src/server/worker/datum/util.go
  src/server/worker/datum/worker.go
  src/server/worker/pipeline/service/service.go
  src/server/worker/pipeline/transform/pending_job.go
  src/server/worker/pipeline/transform/worker.go
Owners: none

identity cmd updates (#9367)
  src/server/identity/cmds/cmds.go
Owners: none

Set GOMEMLIMIT in the storage container from pipeline sidecar resource requests (#9382)
  src/server/pps/server/worker_rc.go
Owners: none

fix accidental delete
  src/internal/minikubetestenv/deploy.go
Owners: none

retry pvc debug
  src/internal/minikubetestenv/deploy.go
Owners: none

Add contents manager for datum mounting
  jupyter-extension/jupyterlab_pachyderm/handlers.py
  jupyter-extension/jupyterlab_pachyderm/mount_server_client.py
  jupyter-extension/jupyterlab_pachyderm/pfs_manager.py
  jupyter-extension/src/plugins/mount/components/SortableList/__tests__/SortableList.test.tsx
  jupyter-extension/src/plugins/mount/types.ts
Owners: none

delete loki pvc as well
  src/internal/minikubetestenv/deploy.go
Owners: none

Set GOMEMLIMIT in the storage container from pipeline sidecar resource requests (#9382)
  src/server/pps/server/worker_rc.go
Owners: none

debugging minikube factory
  src/internal/minikubetestenv/client_factory.go
  src/internal/minikubetestenv/deploy.go
Owners: none

fix linter
  jupyter-extension/src/plugins/mount/components/SortableList/__tests__/SortableList.test.tsx
Owners: none

delete loki pvcs between tests
  src/internal/minikubetestenv/deploy.go
Owners: none

increase auth test timeout
  etc/testing/circle/run_tests.sh
Owners: none

[PFS-94-138] fix branches error message.
  src/internal/pfsdb/branches.go
Owners: @pachyderm/PFS

Djanicek/core 861/delete loki pvc in test (#9386)
  etc/testing/circle/run_tests.sh
  src/internal/minikubetestenv/deploy.go
Owners: none

Create datums from glob file
  src/server/pfs/fuse/server.go
Owners: @pachyderm/INT

Manually constructed datums don't have an id, so don't return it
  jupyter-extension/jupyterlab_pachyderm/tests/test_integrations.py
  src/server/pfs/fuse/server.go
  src/server/pfs/fuse/server_integration_test.go
Owners: @pachyderm/INT

support --sock-path + NONPRIV_CONTAINER=1
  jupyter-extension/jupyterlab_pachyderm/mount_server_client.py
Owners: none
