Repository pachyderm/pachyderm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pachyderm/CORE, @pachyderm/INT, @pachyderm/PFS

.github/CODEOWNERS:

# All
/src/*/*.proto           @pachyderm/CORE @pachyderm/INT

# PFS
/src/pfs/                @pachyderm/PFS
/src/server/pfs/         @pachyderm/PFS
/src/internal/pfsdb/     @pachyderm/PFS
/src/internal/storage/   @pachyderm/PFS

# Integrations
/src/server/pfs/s3       @pachyderm/INT
/src/server/pfs/fuse     @pachyderm/INT
/python-sdk              @pachyderm/INT

# CORE
/src/auth                @pachyderm/CORE
/src/debug               @pachyderm/CORE
/src/enterprise          @pachyderm/CORE
/src/identity            @pachyderm/CORE
/src/license             @pachyderm/CORE
/src/pps                 @pachyderm/CORE
/src/worker              @pachyderm/CORE
/src/server/auth         @pachyderm/CORE
/src/server/debug        @pachyderm/CORE
/src/server/enterprise   @pachyderm/CORE
/src/server/identity     @pachyderm/CORE
/src/server/license      @pachyderm/CORE
/src/server/pps          @pachyderm/CORE
/src/server/worker       @pachyderm/CORE

# CONSOLE - unowned
# /console                 @pachyderm/FRON

implement PR feedback
  src/internal/pjs/api_server.go
  src/internal/pjs/server_test.go
  src/internal/pjsdb/job_crud.go
  src/internal/pjsdb/queue_crud.go
Owners: none

fix linter
  src/internal/pjs/server_test.go
Owners: none

Add comments and fix tests
  src/internal/pjs/server_test.go
Owners: none

[MLDM-30] processQueue RPC (#10273)
  src/internal/pjs/BUILD.bazel
  src/internal/pjs/api_server.go
  src/internal/pjs/server_test.go
  src/internal/pjsdb/BUILD.bazel
  src/internal/pjsdb/job_crud.go
  src/internal/pjsdb/queue_crud.go
Owners: none

[MLDM-31] Add code and proto for walk job algorithms.
  src/internal/pjsdb/job_crud.go
  src/internal/pjsdb/job_crud_test.go
  src/pjs/pjs.proto
Owners: @pachyderm/CORE, @pachyderm/INT

[MLDM-31] generate protos.
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pjs/__init__.py
  src/internal/jsonschema/pjs/WalkJobRequest.schema.json
  src/openapi/pachyderm_api.swagger.json
  src/pjs/pjs.pb.go
  src/pjs/pjs.pb.validate.go
  src/pjs/pjs.pb.zap.go
  src/typescript/pjs/pjs.pb.ts
Owners: @pachyderm/INT
