Repository pachyderm/pachyderm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pachyderm/CORE, @pachyderm/INT, @pachyderm/PFS

.github/CODEOWNERS:

# All
/src/*/*.proto           @pachyderm/CORE @pachyderm/INT

# PFS
/src/pfs/                @pachyderm/PFS
/src/server/pfs/         @pachyderm/PFS
/src/internal/pfsdb/     @pachyderm/PFS
/src/internal/storage/   @pachyderm/PFS

# Integrations
/src/server/pfs/s3       @pachyderm/INT
/src/server/pfs/fuse     @pachyderm/INT
/python-sdk              @pachyderm/INT

Remove global logger in log.TestInit, so that tests can be run in any order (#9392)
  src/internal/log/loggers_test.go
Owners: none

delete unit test tag and int test buckets
  .circleci/main.yml
  etc/testing/circle/kube_debug.sh
  etc/testing/kube_debug.sh
  src/internal/clusterstate/v2.6.0/pfsdb_test.go
  src/internal/coredb/projects_test.go
  src/internal/log/testing_test.go
  src/internal/minikubetestenv/client_factory.go
  src/internal/minikubetestenv/deploy.go
  src/internal/obj/integrationtests/amazon_test.go
  src/internal/obj/integrationtests/google_test.go
  src/internal/obj/integrationtests/microsoft_test.go
  src/internal/obj/integrationtests/minio_test.go
  src/server/auth/server/testing/admin_test.go
  src/server/auth/server/testing/auth_test.go
  src/server/auth/server/testing/config_test.go
  src/server/auth/server/testing/oidc_test.go
  src/server/enterprise/server/enterprise_test.go
  src/server/identity/server/api_server_test.go
  src/server/license/server/license_test.go
  src/server/pachyderm_validation_test.go
  src/server/pfs/cmds/cmds_test.go
  src/server/pfs/fuse/fuse_test.go
  src/server/pfs/fuse/server_test.go
  src/server/pfs/pfs_test.go
  src/server/pfs/s3/master_test.go
  src/server/pfs/s3/project_master_test.go
  src/server/pfs/s3/util_test.go
  src/server/pfs/s3/worker_test.go
  src/server/pfs/server/storage_bucket_test.go
  src/server/pfs/server/testing/load_test.go
  src/server/pfs/server/testing/server_test.go
  src/server/pfs/server/testing/storage_test.go
  src/server/pfs/server/url_test.go
  src/server/pps/cmds/cmds_realenv_test.go
  src/server/pps/server/s3g_sidecar_test.go
  src/server/rpc_fuzz_test.go
  src/server/transaction/cmds/cmds_test.go
  src/server/worker/stats/stats_test.go
  src/testing/cmds/test-splitting/main.go
Owners: @pachyderm/PFS, @pachyderm/INT

transactionenv: remove serviceenv dependency (#9387)
  src/internal/pachd/builder.go
  src/internal/testpachd/realenv/real_env.go
  src/internal/transactionenv/env.go
Owners: none

be clear that the filehandles are for closing at the end
  src/cmd/starpach/main.go
Owners: none

lint
  src/internal/cmdutil/util.go
  src/internal/starlark/reflect.go
  src/internal/starlark/repl.go
  src/internal/starlark/repl_test.go
  src/internal/starlark/starlark.go
Owners: none

s/Fn/Func
  src/internal/starlark/starlark.go
Owners: none

avoid warning about removing "" when --log is invalid
  src/internal/log/loggers.go
Owners: none

review feedback
  src/cmd/starpach/main.go
  src/internal/starlark/reflect.go
  src/internal/starlark/reflect_test.go
Owners: none

go mod tidy
  go.mod
  go.sum
Owners: none

add starpach cli
  src/cmd/starpach/main.go
  src/internal/cmdutil/util.go
  src/internal/log/encoders.go
  src/internal/log/loggers.go
  src/internal/starlark/personality.go
Owners: none

add starlark infra
  go.mod
  go.sum
  src/internal/starlark/fields.go
  src/internal/starlark/reflect.go
  src/internal/starlark/reflect_test.go
  src/internal/starlark/repl.go
  src/internal/starlark/repl_test.go
  src/internal/starlark/starcmp/starcmp.go
  src/internal/starlark/starcmp/starcmp_test.go
  src/internal/starlark/starlark.go
  src/internal/starlark/starlark_test.go
  src/internal/starlark/startest/startest.go
  src/internal/starlark/startest/startest_test.go
  src/internal/starlark/startest/testdata/empty_test.star
  src/internal/starlark/startest/testdata/failing_test.star
  src/internal/starlark/startest/testdata/good_test.star
  src/internal/starlark/testdata/a.star
  src/internal/starlark/testdata/b.star
  src/internal/starlark/testdata/completion.star
  src/internal/starlark/testdata/cycle.star
  src/internal/starlark/testdata/good.star
  src/internal/starlark/testdata/nested/good.star
  src/internal/starlark/tests/reflect_test.star
  src/internal/starlark/util.go
Owners: none

Update tests
  src/server/pfs/fuse/server.go
  src/server/pfs/fuse/server_integration_test.go
  src/server/pfs/fuse/server_test.go
Owners: @pachyderm/INT

bump pachyderm version
  version.json
Owners: none

Add Starlark-running infrastructure (#9331)
  go.mod
  go.sum
  src/cmd/starpach/main.go
  src/internal/cmdutil/util.go
  src/internal/log/encoders.go
  src/internal/log/loggers.go
  src/internal/starlark/fields.go
  src/internal/starlark/personality.go
  src/internal/starlark/reflect.go
  src/internal/starlark/reflect_test.go
  src/internal/starlark/repl.go
  src/internal/starlark/repl_test.go
  src/internal/starlark/starcmp/starcmp.go
  src/internal/starlark/starcmp/starcmp_test.go
  src/internal/starlark/starlark.go
  src/internal/starlark/starlark_test.go
  src/internal/starlark/startest/startest.go
  src/internal/starlark/startest/startest_test.go
  src/internal/starlark/startest/testdata/empty_test.star
  src/internal/starlark/startest/testdata/failing_test.star
  src/internal/starlark/startest/testdata/good_test.star
  src/internal/starlark/testdata/a.star
  src/internal/starlark/testdata/b.star
  src/internal/starlark/testdata/completion.star
  src/internal/starlark/testdata/cycle.star
  src/internal/starlark/testdata/good.star
  src/internal/starlark/testdata/nested/good.star
  src/internal/starlark/tests/reflect_test.star
  src/internal/starlark/util.go
Owners: none

add protos for running starlark scripts
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/debug/__init__.py
  src/debug/debug.pb.go
  src/debug/debug.pb.validate.go
  src/debug/debug.pb.zap.go
  src/debug/debug.proto
  src/internal/jsonschema/debug_v2/DumpV2Request.schema.json
  src/internal/jsonschema/debug_v2/GetDumpV2TemplateResponse.schema.json
  src/internal/jsonschema/debug_v2/Starlark.schema.json
  src/internal/jsonschema/debug_v2/StarlarkScript.schema.json
Owners: @pachyderm/INT, @pachyderm/CORE

run starlark on the server
  src/server/debug/server/debugstar/debugstar.go
  src/server/debug/server/server.go
Owners: none

add dump() + starlark running infra
  src/cmd/starpach/main.go
  src/internal/starlark/personality.go
  src/server/debug/server/debugstar/debugstar.go
  src/server/debug/server/debugstar/debugstar_test.go
  src/server/debug/server/debugstar/starlark/basic.star
  src/server/debug/server/debugstar/testdata/test.star
  src/server/debug/server/server.go
Owners: none

pachctl debug template: use proto YAML encoder, not general YAML encoder
  src/server/debug/cmds/cmds.go
Owners: none

add "pachctl debug local" command
  src/server/debug/cmds/cmds.go
  src/server/debug/server/debugstar/debugstar.go
Owners: none

fix typo in proto; regen protos
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/debug/__init__.py
  src/debug/debug.pb.go
  src/debug/debug.proto
  src/internal/jsonschema/debug_v2/DumpV2Request.schema.json
  src/internal/jsonschema/debug_v2/GetDumpV2TemplateResponse.schema.json
  src/internal/jsonschema/debug_v2/Starlark.schema.json
  src/internal/jsonschema/debug_v2/StarlarkScript.schema.json
Owners: @pachyderm/INT, @pachyderm/CORE

StarlarkScript -> StarlarkLiteral
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/debug/__init__.py
  src/debug/debug.pb.go
  src/debug/debug.pb.validate.go
  src/debug/debug.pb.zap.go
  src/debug/debug.proto
  src/internal/jsonschema/debug_v2/DumpV2Request.schema.json
  src/internal/jsonschema/debug_v2/GetDumpV2TemplateResponse.schema.json
  src/internal/jsonschema/debug_v2/Starlark.schema.json
  src/internal/jsonschema/debug_v2/StarlarkLiteral.schema.json
  src/server/debug/cmds/cmds.go
  src/server/debug/server/server.go
Owners: @pachyderm/INT, @pachyderm/CORE

Fix build tag
  src/server/pfs/fuse/server_test.go
Owners: @pachyderm/INT

revert logger test change
  src/internal/log/testing_test.go
Owners: none

Add the ability to run Starlark during debug dumps, and run debug dumps locally (#9338)
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/debug/__init__.py
  src/cmd/starpach/main.go
  src/debug/debug.pb.go
  src/debug/debug.pb.validate.go
  src/debug/debug.pb.zap.go
  src/debug/debug.proto
  src/internal/jsonschema/debug_v2/DumpV2Request.schema.json
  src/internal/jsonschema/debug_v2/GetDumpV2TemplateResponse.schema.json
  src/internal/jsonschema/debug_v2/Starlark.schema.json
  src/internal/jsonschema/debug_v2/StarlarkLiteral.schema.json
  src/internal/jsonschema/debug_v2/StarlarkScript.schema.json
  src/internal/starlark/personality.go
  src/server/debug/cmds/cmds.go
  src/server/debug/server/debugstar/debugstar.go
  src/server/debug/server/debugstar/debugstar_test.go
  src/server/debug/server/debugstar/starlark/basic.star
  src/server/debug/server/debugstar/testdata/test.star
  src/server/debug/server/server.go
Owners: @pachyderm/INT, @pachyderm/CORE

implement list and some k8s tests
  src/internal/starlark/lib/k8s/k8s.go
  src/internal/starlark/lib/k8s/k8s_test.go
  src/internal/starlark/lib/k8s/k8s_test.star
  src/internal/starlark/reflect.go
  src/internal/starlark/starlark.go
  src/internal/starlark/startest/startest.go
  src/server/debug/server/debugstar/starlark/list_rcs.star
Owners: none

lint
  src/internal/starlark/lib/k8s/k8s.go
Owners: none

WIP
  src/internal/starlark/lib/k8s/k8s.go
  src/internal/starlark/reflect.go
  src/server/debug/server/debugstar/debugstar.go
  src/server/debug/server/server.go
Owners: none

remove subresource support, too broken; document the module; add k8s.logs()
  src/internal/starlark/lib/k8s/doc.star
  src/internal/starlark/lib/k8s/k8s.go
Owners: none

plumb in the dynamic client
  src/internal/pachd/env.go
  src/internal/serviceenv/service_env.go
  src/internal/serviceenv/testing.go
  src/internal/testpachd/realenv/real_env.go
  src/server/cmd/worker/main.go
  src/server/debug/server/server.go
Owners: none

avoid overwriting globals with the pre-repl script result
  src/internal/starlark/repl.go
Owners: none

lint
  src/internal/starlark/lib/k8s/k8s.go
Owners: none

fix glob pattern that removes all json schemas during proto rebuild
  etc/proto/build.sh
  src/internal/jsonschema/debug_v2/StarlarkScript.schema.json
  src/internal/jsonschema/pfs_v2/RunLoadTestRequest.schema.json
  src/internal/jsonschema/pfs_v2/RunLoadTestResponse.schema.json
Owners: none

rearrange imports
  src/server/debug/server/debugstar/debugstar.go
Owners: none

move k8s test to a //go:build k8s test
  src/server/debug/server/debugstar/debugstar_k8s_test.go
  src/server/debug/server/debugstar/debugstar_test.go
Owners: none

try to use fake k8s for tests that don't need k8s, so they can run on CI machines without k8s setup
  src/server/debug/server/debugstar/debugstar.go
Owners: none

handle this error at the correct place
  src/server/debug/server/debugstar/debugstar.go
Owners: none

Fix prefix bug when deciding which files to show in mount
  src/server/pfs/fuse/loopback.go
Owners: @pachyderm/INT

Dynamic k8s API for starlark scripts (#9350)
  src/internal/pachd/env.go
  src/internal/serviceenv/service_env.go
  src/internal/serviceenv/testing.go
  src/internal/starlark/lib/k8s/doc.star
  src/internal/starlark/lib/k8s/k8s.go
  src/internal/starlark/lib/k8s/k8s_test.go
  src/internal/starlark/lib/k8s/k8s_test.star
  src/internal/starlark/reflect.go
  src/internal/starlark/repl.go
  src/internal/starlark/starlark.go
  src/internal/starlark/startest/startest.go
  src/internal/testpachd/realenv/real_env.go
  src/server/cmd/worker/main.go
  src/server/debug/server/debugstar/debugstar.go
  src/server/debug/server/debugstar/debugstar_k8s_test.go
  src/server/debug/server/debugstar/debugstar_test.go
  src/server/debug/server/debugstar/starlark/list_rcs.star
  src/server/debug/server/server.go
Owners: none

Can now mount multiple files from a single repo
  jupyter-extension/jupyterlab_pachyderm/tests/test_integrations.py
  src/server/pfs/cmds/cmds_test.go
  src/server/pfs/cmds/mount_unix.go
  src/server/pfs/fuse/fuse.go
  src/server/pfs/fuse/fuse_test.go
  src/server/pfs/fuse/loopback.go
  src/server/pfs/fuse/options.go
  src/server/pfs/fuse/server.go
Owners: @pachyderm/PFS, @pachyderm/INT

Linting
  src/server/pfs/cmds/cmds_test.go
  src/server/pfs/fuse/fuse.go
  src/server/pfs/fuse/fuse_test.go
Owners: @pachyderm/PFS, @pachyderm/INT
