Repository pachyderm/pachyderm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pachyderm/CORE, @pachyderm/DOC, @pachyderm/BRE, @jrockway, @seslattery, @robert-uhl, @armaanv, @chainlink, @tybritten, @BOsterbuhr, @JimmyWhitaker, @acohen4, @brycemcanally, @pachyderm/PFS, @pachyderm/INT, @albscui, @FahadBSyed, @brendoncarroll

.github/CODEOWNERS:

# Default match everything to the CORE team.
# This means that items can be intentionally excluded below by using a match pattern without a group
* @pachyderm/CORE

# Docs
/doc/ @pachyderm/DOC

# etc
/etc/ @pachyderm/BRE @pachyderm/CORE

# Helm
/etc/helm/ @jrockway @seslattery @robert-uhl @armaanv @chainlink @tybritten @BOsterbuhr

# Examples
/examples/ @pachyderm/DOC @tybritten @JimmyWhitaker @BOsterbuhr

# Services with individual owners
/src/auth/               @acohen4 @jrockway
/src/server/auth/        @acohen4 @jrockway

/src/debug/              @jrockway @brycemcanally
/src/server/debug/       @jrockway @brycemcanally

/src/enterprise/         @acohen4
/src/server/enterprise/  @acohen4

/src/identity/           @jrockway @acohen4
/src/server/identity/    @jrockway @acohen4

/src/license/            @acohen4
/src/server/license/     @acohen4

/src/pfs/                @pachyderm/PFS
/src/server/pfs/         @pachyderm/PFS

/src/pps/                @brycemcanally @acohen4
/src/server/pps/         @brycemcanally @acohen4

/src/task/               @brycemcanally

# Integrations
/src/integrations/                          @pachyderm/INT
/src/integrations/connectors/snowflake/     @pachyderm/INT @albscui @robert-uhl
/src/templates/                             @pachyderm/INT
/src/server/pfs/s3/                          @pachyderm/INT

# Internal
# Add all the teams, so anyone can make or change internal libraries by default.
/src/internal/ @pachyderm/CORE @pachyderm/PFS @pachyderm/INT

# Individuals for specific packages
/src/internal/collection/            @brycemcanally @acohen4 @robert-uhl
/src/internal/clusterstate/          @jrockway @brycemcanally
/src/internal/consistenthashing/     @FahadBSyed
/src/internal/dockertestenv/         @brendoncarroll
/src/internal/migrations/            @brendoncarroll
/src/internal/minikubetestenv/       @acohen4
/src/internal/obj/                   @pachyderm/PFS
/src/internal/pachhash/              @pachyderm/PFS
/src/internal/pachsql/               @albscui @brendoncarroll
/src/internal/pachtmpl/              @albscui @brendoncarroll @pachyderm/INT
/src/internal/pfsdb/                 @pachyderm/PFS
/src/internal/pfsfile/               @pachyderm/PFS
/src/internal/pfssync/               @pachyderm/PFS
/src/internal/pfsload/               @brycemcanally
/src/internal/ppsdb/                 @brycemcanally
/src/internal/ppsload/               @brycemcanally 
/src/internal/storage/               @pachyderm/PFS
/src/internal/stream/                @brycemcanally
/src/internal/task/                  @brycemcanally
/src/internal/testsnowflake/         @albscui
/src/internal/transforms/            @albscui @brendoncarroll

# internal/middleware
/src/internal/middleware/auth/       @acohen4

FRON-595: Show only one tab on Projects page (#765)
  frontend/src/views/Landing/Landing.tsx
  frontend/src/views/Landing/__tests__/Landing.test.tsx
  frontend/src/views/Landing/hooks/useLandingView.ts
Owners: @pachyderm/CORE

test: assert project name is in canvas download. (#770)
  .gitignore
  cypress/e2e/mock/Canvas.ts
  cypress/plugins/index.js
Owners: @pachyderm/CORE

Move v2.4.0 migrations into clusterstate
  src/internal/clusterstate/v2.4.0.go
  src/internal/clusterstate/v2.4.0/auth.go
  src/internal/clusterstate/v2.4.0/clusterstate.go
  src/internal/clusterstate/v2.4.0/collection.go
  src/internal/clusterstate/v2.4.0/pfsdb.go
  src/internal/clusterstate/v2.4.0/ppsdb.go
  src/internal/pfsdb/v2.4.0.go
  src/internal/ppsdb/v2.4.0.go
Owners: @jrockway, @brycemcanally, @pachyderm/PFS

[Jupyter] Fix deleted mount error that crashes extension (#8290)
  jupyter-extension/infra/main.go
  jupyter-extension/jupyterlab_pachyderm/tests/test_integrations.py
  jupyter-extension/src/plugins/mount/components/Datum/Datum.tsx
  jupyter-extension/src/plugins/mount/components/Datum/__tests__/Datum.test.tsx
  jupyter-extension/src/plugins/mount/components/Datum/hooks/useDatum.tsx
  jupyter-extension/src/plugins/mount/components/SortableList/ListMount.tsx
  jupyter-extension/src/plugins/mount/components/SortableList/ListUnmount.tsx
  jupyter-extension/src/plugins/mount/components/SortableList/SortableList.tsx
  jupyter-extension/src/plugins/mount/components/SortableList/__tests__/SortableList.test.tsx
  jupyter-extension/src/plugins/mount/mount.tsx
Owners: @pachyderm/CORE

[Mount Server] Fix delete mounted repo error (#8255)
  jupyter-extension/infra/main.go
  jupyter-extension/jupyterlab_pachyderm/tests/test_integrations.py
  jupyter-extension/src/plugins/mount/components/Datum/Datum.tsx
  jupyter-extension/src/plugins/mount/components/Datum/__tests__/Datum.test.tsx
  jupyter-extension/src/plugins/mount/components/Datum/hooks/useDatum.tsx
  jupyter-extension/src/plugins/mount/components/SortableList/ListMount.tsx
  jupyter-extension/src/plugins/mount/components/SortableList/ListUnmount.tsx
  jupyter-extension/src/plugins/mount/components/SortableList/SortableList.tsx
  jupyter-extension/src/plugins/mount/components/SortableList/__tests__/SortableList.test.tsx
  jupyter-extension/src/plugins/mount/mount.tsx
  src/server/pfs/fuse/server.go
  src/server/pfs/fuse/server_test.go
Owners: @pachyderm/CORE, @pachyderm/PFS

'pachctl draw' -> 'pachctl draw pipeline'
  src/server/pps/cmds/cmds.go
Owners: @brycemcanally, @acohen4

miscutil: remove MinInt64 in favor of generic Min
  go.mod
  go.sum
  src/internal/miscutil/math.go
  src/internal/randutil/rand.go
Owners: @pachyderm/CORE, @pachyderm/PFS, @pachyderm/INT

randutil: use a much faster algorithm than rand.Intn to generate random data; test that generated data is random enough
  src/internal/randutil/rand.go
  src/internal/randutil/rand_test.go
Owners: @pachyderm/CORE, @pachyderm/PFS, @pachyderm/INT

keep old algorithm around for tests that depend on it
  src/internal/storage/fileset/fileset_test.go
Owners: @pachyderm/PFS

randutil: don't hard code the number of letters; uint16(len(array)) doesn't decrease the performance
  src/internal/randutil/rand.go
Owners: @pachyderm/CORE, @pachyderm/PFS, @pachyderm/INT

randutil: add a comment about the probabilistic nature of testLetters
  src/internal/randutil/rand_test.go
Owners: @pachyderm/CORE, @pachyderm/PFS, @pachyderm/INT

remove duplicae pps env variables
  src/server/pps/server/worker_rc.go
Owners: @brycemcanally, @acohen4

Improve random data generation speed (#8309)
  go.mod
  go.sum
  src/internal/miscutil/math.go
  src/internal/randutil/rand.go
  src/internal/randutil/rand_test.go
  src/internal/storage/fileset/fileset_test.go
Owners: @pachyderm/CORE, @pachyderm/PFS, @pachyderm/INT
