Repository pachyderm/pachyderm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pachyderm/CORE, @lb, @jrockway, @seanslattery, @rob-uhl, @armaan, @chainlink, @alon, @bryce, @pachyderm/PFS, @pachyderm/INT, @bob-uhl, @bob, @brendoncarrolla, @fahad, @brendoncarroll, @albert

.github/CODEOWNERS:

# Default match everything to the CORE team.
# This means that items can be intentionally excluded below by using a match pattern without a group
/* @pachyderm/CORE

# Docs
/doc/ @lb

# Helm
/etc/helm/ @jrockway @seanslattery @rob-uhl @armaan @chainlink

# Services with individual owners
/src/auth/               @alon @jrockway
/src/server/auth/        @alon @jrockway

/src/debug/              @jrockway @bryce
/src/server/debug/       @jrockway @bryce

/src/enterprise/         @alon
/src/server/enterprise/  @alon

/src/identity/           @jrockway @alon
/src/server/identity/    @jrockway @alon

/src/license/            @alon
/src/server/license/     @alon

/src/pfs/                @pachyderm/PFS
/src/server/pfs/         @pachyderm/PFS

/src/pps/                @bryce @alon
/src/server/pps/         @bryce @alon

/src/task/               @bryce

# Integrations
/src/integrations/ @pachyderm/INT
/src/integrations/connectors/snowflake/ @bob-uhl
/src/templates/ @pachyderm/INT

# Internal
# Add all the teams, so anyone can make, or change internal libraries by default.
/src/internal/ @pachyderm/CORE @pachyderm/PFS @pachyderm/INT

# Individuals for specific packages
/src/internal/collection/            @bryce @alon @bob
/src/internal/clusterstate/          @jrockway @bryce
/src/internal/migrations/            @brendoncarrolla
/src/interna/consistenthashing/      @fahad
/src/internal/dockertestenv/         @brendoncarroll
/src/interna/minikubetestenv/        @alon
/src/internal/obj/                   @pachyderm/PFS
/src/interna/pachhash/               @pachyderm/PFS
/src/interna/pachsql/                @albert @brendoncarroll
/src/interna/pachtmpl/               @albert @brendoncarroll @pachyderm/INT
/src/internal/pfsdb/                 @pachyderm/PFS
/src/internal/pfsfile/               @pachyderm/PFS
/src/internal/pfssync/               @pachyderm/PFS
/src/internal/pfsload/               @bryce
/src/internal/ppsdb/                 @bryce
/src/internal/ppsload/               @bryce 
/src/internal/storage/               @pachyderm/PFS
/src/internal/stream/                @bryce
/src/internal/task/                  @bryce
/src/internal/testsnowflake/         @albert
/src/internal/transforms/            @albert @brendoncarroll

# internal/middleware
/src/internal/middleware/auth/       @alon

Don't run preview on master (#8188)
  .circleci/main.yml
Owners: none

images needed for tests (#8185)
  .circleci/main.yml
Owners: none

Ensure the publish job depends on the build (for workspace) (#8195)
  .circleci/main.yml
Owners: none

bump console version for alpha (#8194)
  etc/helm/pachyderm/Chart.yaml
  etc/helm/pachyderm/values.yaml
Owners: @jrockway, @seanslattery, @rob-uhl, @armaan, @chainlink

Shell check fix for config.sh (#8189)
  jupyter-extension/scripts/config.sh
Owners: none

bump doc versions (#8196)
  doc/mkdocs-1.13.x.yml
  doc/mkdocs-2.0.x.yml
  doc/mkdocs-2.1.x.yml
  doc/mkdocs-2.2.x.yml
  doc/mkdocs-2.3.x.yml
  doc/mkdocs-master.yml
Owners: @lb

fix minor unbound variable in cust load test release workflow (#8197)
  etc/testing/circle/run_cust_release_tests.sh
  etc/testing/circle/run_release_tests.sh
Owners: none

Update Ubuntu version used in CircleCI (#8175)
  .circleci/main.yml
Owners: none

Add build cache to pachctl build (#8199)
  .circleci/main.yml
Owners: none

New logo and tag line (#8205)
  README.md
  doc/docs/master/assets/images/Pachyderm_inline--1200w.png
Owners: @pachyderm/CORE, @lb

[Jupyter] Install pachd at specific commit (#8198)
  .circleci/main.yml
Owners: none

Disable push redhat job (broken) (#8192)
  .circleci/main.yml
Owners: none

Don't bother deleting stack if one does not exist, set correct working directory (#8206)
  .github/workflows/destroy_preview.yaml
Owners: none
