Repository pachyderm/pachyderm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pachyderm/CORE, @pachyderm/INT, @pachyderm/PFS

identity cmd updates
  src/server/identity/cmds/cmds.go
Owners: none

Improve FUSE download performance for a subset of files
  src/server/pfs/fuse/loopback.go
Owners: @pachyderm/INT

license cmd updates
  src/server/license/cmds/cmds.go
Owners: none

[Jupyter] Enable networking over UNIX domain sockets with pycurl (#9366)
  .circleci/main.yml
  jupyter-extension/Dockerfile
  jupyter-extension/jupyterlab_pachyderm/env.py
  jupyter-extension/jupyterlab_pachyderm/handlers.py
  jupyter-extension/jupyterlab_pachyderm/mount_server_client.py
  jupyter-extension/setup.cfg
  src/server/cmd/mount-server/cmd/cmd.go
  src/server/pfs/fuse/server.go
Owners: @pachyderm/INT

generate swagger v2 docs from protos
  etc/proto/Dockerfile
  etc/proto/run.sh
Owners: none

check variable in condition
  .circleci/main.yml
Owners: none

fully remove pps test
  .circleci/main.yml
Owners: none

debugging env var
  .circleci/main.yml
Owners: none

always save cache
  .circleci/main.yml
Owners: none

Handle Meta Commit without Job [CORE-1977] (#9361)
  src/server/pachyderm_test.go
  src/server/worker/pipeline/transform/pending_job.go
Owners: none

Handle Meta Commit without Job [CORE-1977] (#9361)
  src/server/pachyderm_test.go
  src/server/worker/pipeline/transform/pending_job.go
Owners: none

Update tests to account for baseline defaults
  src/server/pachyderm_test.go
Owners: none

Fix TestCreatePipelineError
  src/server/pachyderm_test.go
Owners: none

Only check service type if it is actually specified
  src/server/pps/server/defaults.go
Owners: none

Allow YAML cluster defaults in pachctl
  src/internal/ppsutil/decoder.go
  src/internal/testutil/cmds.go
  src/server/pps/cmds/cmds.go
  src/server/pps/cmds/defaults_test.go
Owners: none

txn cmds update (#9365)
  src/server/transaction/cmds/cmds.go
Owners: none

[PFS-94-callsite] Update commit.Pb() and add more callsites.
  src/internal/pfsdb/branches.go
  src/internal/pfsdb/model.go
  src/server/pfs/server/commit_set.go
  src/server/pfs/server/driver.go
  src/server/pfs/server/trigger.go
  src/server/pps/server/api_server.go
Owners: @pachyderm/PFS

[PFS-94-138] Update commits to use new commits.Pb().
  src/internal/pfsdb/commits.go
Owners: @pachyderm/PFS

Spout commits should be closed by PPS [CORE-1977] (#9353)
  src/server/pfs/server/driver.go
  src/server/pps/server/api_server.go
Owners: @pachyderm/PFS

Handle Meta Commit without Job [CORE-1977] (#9361) (#9370)
  src/server/pachyderm_test.go
  src/server/worker/pipeline/transform/pending_job.go
Owners: none

Update test to account for remarshalled JSON
  src/server/pps/cmds/cmds_realenv_test.go
Owners: none

Update two more tests for remarshalled JSON
  src/server/pps/cmds/cmds_realenv_test.go
Owners: none

internal/client: add functions for file methods
  src/internal/client/client.go
  src/internal/client/pfs_file.go
Owners: none

[PFS-94] change order of operations to prevent a foreign key collision.
  src/server/pfs/server/driver.go
Owners: @pachyderm/PFS

pfs: replace AuthServer with PFSAuth interface (#9362)
  src/internal/pachd/env.go
  src/server/pfs/server/api_server.go
  src/server/pfs/server/driver.go
  src/server/pfs/server/driver_file.go
  src/server/pfs/server/server.go
  src/server/pfs/server/val_server.go
Owners: @pachyderm/PFS

[PFS-94-callsite] add safeguard for nil.
  src/server/pfs/server/driver.go
Owners: @pachyderm/PFS

Add some decoder-level unit tests for leading zeroes
  src/internal/ppsutil/decoder_internal_test.go
  src/internal/ppsutil/decoder_test.go
Owners: none

One more JSON remarshal test fixed
  src/server/pps/cmds/cmds_realenv_test.go
Owners: none

[PFS-94] fix copy/pasted return.
  src/server/pfs/server/driver.go
Owners: @pachyderm/PFS

[PFS-94] fix copy/pasted return.
  src/server/pfs/server/driver.go
Owners: @pachyderm/PFS

delete unit test tag
  .circleci/main.yml
  src/internal/clusterstate/v2.6.0/pfsdb_test.go
  src/internal/coredb/projects_test.go
  src/internal/obj/integrationtests/amazon_test.go
  src/internal/obj/integrationtests/google_test.go
  src/internal/obj/integrationtests/microsoft_test.go
  src/internal/obj/integrationtests/minio_test.go
  src/server/auth/server/testing/admin_test.go
  src/server/auth/server/testing/auth_test.go
  src/server/auth/server/testing/config_test.go
  src/server/auth/server/testing/oidc_test.go
  src/server/enterprise/server/enterprise_test.go
  src/server/identity/server/api_server_test.go
  src/server/license/server/license_test.go
  src/server/pachyderm_validation_test.go
  src/server/pfs/cmds/cmds_test.go
  src/server/pfs/fuse/fuse_test.go
  src/server/pfs/fuse/server_test.go
  src/server/pfs/pfs_test.go
  src/server/pfs/s3/master_test.go
  src/server/pfs/s3/project_master_test.go
  src/server/pfs/s3/util_test.go
  src/server/pfs/s3/worker_test.go
  src/server/pfs/server/storage_bucket_test.go
  src/server/pfs/server/testing/load_test.go
  src/server/pfs/server/testing/server_test.go
  src/server/pfs/server/testing/storage_test.go
  src/server/pfs/server/url_test.go
  src/server/pps/cmds/cmds_realenv_test.go
  src/server/rpc_fuzz_test.go
  src/testing/cmds/test-splitting/main.go
Owners: @pachyderm/PFS, @pachyderm/INT

Maybe subpaths
  src/server/pfs/fuse/loopback.go
Owners: @pachyderm/INT

[CORE-1981] Add tests and fix for zero CPU values (#9364)
  src/internal/ppsutil/decoder.go
  src/internal/ppsutil/decoder_internal_test.go
  src/internal/ppsutil/decoder_test.go
  src/internal/testutil/cmds.go
  src/server/pps/cmds/defaults_test.go
  src/server/pps/server/defaults_test.go
Owners: none

try using test splitting in circle
  .circleci/main.yml
Owners: none

yaml syntax
  .circleci/main.yml
Owners: none

remove bucket
  .circleci/main.yml
Owners: none

Unhide pachctl [inspect|create|delete|update] defaults
  src/server/pps/cmds/cmds.go
Owners: none

Use File path for specifying datum file
  src/server/pfs/fuse/loopback.go
  src/server/pfs/fuse/options.go
  src/server/pfs/fuse/server.go
  src/server/pfs/fuse/server_integration_test.go
Owners: @pachyderm/INT

internal/client: add functions for file methods (#9372)
  src/internal/client/client.go
  src/internal/client/pfs_file.go
Owners: none

debug circle split
  .circleci/main.yml
  src/testing/cmds/test-splitting/main.go
Owners: none

.github/CODEOWNERS:

# All
/src/*/*.proto           @pachyderm/CORE @pachyderm/INT

# PFS
/src/pfs/                @pachyderm/PFS
/src/server/pfs/         @pachyderm/PFS
/src/internal/pfsdb/     @pachyderm/PFS
/src/internal/storage/   @pachyderm/PFS

# Integrations
/src/server/pfs/s3       @pachyderm/INT
/src/server/pfs/fuse     @pachyderm/INT
/python-sdk              @pachyderm/INT
