Repository pachyderm/pachyderm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pachyderm/CORE, @pachyderm/INT, @pachyderm/PFS

.github/CODEOWNERS:

# All
/src/*/*.proto           @pachyderm/CORE @pachyderm/INT

# PFS
/src/pfs/                @pachyderm/PFS
/src/server/pfs/         @pachyderm/PFS
/src/internal/pfsdb/     @pachyderm/PFS
/src/internal/storage/   @pachyderm/PFS

# Integrations
/src/server/pfs/s3       @pachyderm/INT
/src/server/pfs/fuse     @pachyderm/INT
/python-sdk              @pachyderm/INT

[CORE-1997] Address govulncheck failure (#9414)
  .circleci/config.yml
  .circleci/main.yml
  etc/helm/go.mod
  etc/helm/go.sum
  etc/proto/Dockerfile
  etc/testing/kafka/Dockerfile
  etc/testing/spout/Dockerfile
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
  go.mod
  go.sum
  src/testing/cmds/go-test-results/Dockerfile
Owners: none

[PFS-94-138] rollback last change to see if I am going insane.
  src/server/pfs/server/driver.go
Owners: @pachyderm/PFS

make proto
  src/openapi/pachyderm_api.swagger.json
  src/pps/pps.pb.gw.go
  src/typescript/pps/pps.pb.ts
Owners: none

[PFS-94-138] fix the bug for good (tm).
  src/server/pfs/server/driver.go
  src/server/pps/server/api_server.go
Owners: @pachyderm/PFS

[PFS-94-138] fix the incorrect use of errors.Is().
  src/internal/pfsdb/branches_test.go
  src/internal/pfsdb/commits.go
  src/internal/pfsdb/commits_test.go
  src/server/pfs/server/driver.go
Owners: @pachyderm/PFS

upgrade envoy (#9418)
  .circleci/main.yml
  etc/helm/pachyderm/values.yaml
Owners: none

[CORE-1997] Address govulncheck failure (#9414) (#9419)
  .circleci/config.yml
  .circleci/main.yml
  etc/helm/go.mod
  etc/helm/go.sum
  etc/proto/Dockerfile
  etc/testing/kafka/Dockerfile
  etc/testing/spout/Dockerfile
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
  go.mod
  go.sum
  src/testing/cmds/go-test-results/Dockerfile
Owners: none

[PFS-94-138] fix another bug. this time with the fuse mount.
  src/server/pfs/fuse/server.go
Owners: @pachyderm/INT

fix postgres trigger for pfs.branches table
  src/internal/clusterstate/v2.8.0/pfsdb.go
  src/server/pfs/server/testing/server_test.go
Owners: @pachyderm/PFS

fix TestTrigger/Or
  src/server/pfs/server/testing/server_test.go
Owners: @pachyderm/PFS

add v2
  src/client/transaction.gen.go
  src/internal/client/transaction.gen.go
  src/pjs/pjs.pb.go
  src/pjs/pjs.pb.validate.go
  src/pjs/pjs.pb.zap.go
  src/pjs/pjs.proto
  src/pjs/pjs_grpc.pb.go
Owners: @pachyderm/CORE, @pachyderm/INT

fix lint
  src/internal/pfsdb/commit_provenance.go
  src/server/pfs/server/driver.go
  src/server/pfs/server/testing/server_test.go
Owners: @pachyderm/PFS

[CORE-1984] Switch from UnimplementedAPIServer to UnsafeAPIServer (#9409)
  src/internal/testpachd/mock_pachd.go
  src/server/admin/server/api_server.go
  src/server/auth/server/api_server.go
  src/server/debug/server/server.go
  src/server/enterprise/server/api_server.go
  src/server/identity/server/api_server.go
  src/server/license/server/api_server.go
  src/server/pps/server/api_server.go
  src/server/proxy/server/api_server.go
  src/server/transaction/server/api_server.go
  src/server/worker/server/api_server.go
  src/typescript/pps/pps.pb.ts
  src/version/api_server.go
Owners: none

Refactor TestTrigger/And
  src/server/pfs/server/testing/server_test.go
Owners: @pachyderm/PFS

[PFS-94-138] fix TestSquashComplex.
  src/server/pfs/server/testing/server_test.go
Owners: @pachyderm/PFS

temp, debugging branch-movement and trigger logic
  src/server/pfs/server/testing/server_test.go
Owners: @pachyderm/PFS

rapid reset mitigations for 2.6.x
  .circleci/main.yml
  etc/helm/pachyderm/values.yaml
  etc/proto/Dockerfile
  etc/testing/kafka/Dockerfile
  etc/testing/spout/Dockerfile
  go.mod
  go.sum
  src/integrations/connectors/snowflake/Dockerfile
Owners: none

rapid reset mitigations for 2.5.x
  .circleci/main.yml
  etc/helm/pachyderm/values.yaml
  etc/proto/Dockerfile
  etc/testing/kafka/Dockerfile
  etc/testing/spout/Dockerfile
  examples/spouts/go-rabbitmq-spout/Dockerfile
  examples/word_count/Dockerfile
  go.mod
  go.sum
  src/integrations/connectors/snowflake/Dockerfile
Owners: none

upgrade http for spouts example
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
Owners: none

Partial fix for TestMoveBranchTrigger
  src/server/pachyderm_test.go
Owners: none

Fix 'npm run build' error
  jupyter-extension/package.json
Owners: none

Don't use unix domain socket if sidecar mode is active
  jupyter-extension/jupyterlab_pachyderm/mount_server_client.py
Owners: none

Add notes about pycurl dependencies
  jupyter-extension/README.md
  jupyter-extension/setup.cfg
Owners: none

Remove stray comment mark
  jupyter-extension/setup.cfg
Owners: none

Remove libcurl/libssl comments, per discussion
  jupyter-extension/setup.cfg
Owners: none

Remove pycurl dependency
  jupyter-extension/Dockerfile
  jupyter-extension/README.md
  jupyter-extension/jupyterlab_pachyderm/__init__.py
  jupyter-extension/jupyterlab_pachyderm/env.py
  jupyter-extension/jupyterlab_pachyderm/mount_server_client.py
  src/server/cmd/mount-server/cmd/cmd.go
  src/server/cmd/mount-server/main.go
  src/server/pfs/fuse/server.go
Owners: @pachyderm/INT

[2.6.x] mitigate http2 rapid reset (#9421)
  .circleci/main.yml
  etc/helm/pachyderm/values.yaml
  etc/proto/Dockerfile
  etc/testing/kafka/Dockerfile
  etc/testing/spout/Dockerfile
  go.mod
  go.sum
  src/integrations/connectors/snowflake/Dockerfile
Owners: none

[2.5.x] mitigate http2 rapid reset (#9422)
  .circleci/main.yml
  etc/helm/pachyderm/values.yaml
  etc/proto/Dockerfile
  etc/testing/kafka/Dockerfile
  etc/testing/spout/Dockerfile
  examples/spouts/go-rabbitmq-spout/Dockerfile
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
  examples/word_count/Dockerfile
  go.mod
  go.sum
  src/integrations/connectors/snowflake/Dockerfile
Owners: none

fix: skip display node statuses (#1635)
  frontend/src/views/Project/components/DAGView/components/DAG/components/Node/Node.tsx
Owners: none

Add project defaults collection & associated migration
  proto-docs.json
  proto-docs.md
  src/internal/clusterstate/v2.8.0/clusterstate.go
  src/internal/jsonschema/pps_v2/ProjectDefaultsWrapper.schema.json
  src/internal/ppsdb/ppsdb.go
  src/internal/ppsdb/ppsdb.pb.go
  src/internal/ppsdb/ppsdb.pb.validate.go
  src/internal/ppsdb/ppsdb.pb.zap.go
  src/internal/ppsdb/ppsdb.proto
  src/typescript/internal/ppsdb/ppsdb.pb.ts
Owners: none

Remove extraneous newlines
  src/internal/ppsdb/ppsdb.proto
Owners: none

Correct typo
  src/internal/ppsdb/ppsdb.go
Owners: none

Handle an edge case where a branch can be created without an initial empty commit
  src/server/pfs/server/trigger.go
Owners: @pachyderm/PFS

Add project defaults messages
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pps/__init__.py
  src/internal/jsonschema/pps_v2/GetProjectDefaultsRequest.schema.json
  src/internal/jsonschema/pps_v2/GetProjectDefaultsResponse.schema.json
  src/internal/jsonschema/pps_v2/ProjectDefaults.schema.json
  src/internal/jsonschema/pps_v2/SetProjectDefaultsRequest.schema.json
  src/internal/jsonschema/pps_v2/SetProjectDefaultsResponse.schema.json
  src/pps/pps.pb.go
  src/pps/pps.pb.validate.go
  src/pps/pps.pb.zap.go
  src/pps/pps.proto
  src/typescript/pps/pps.pb.ts
  test.json
Owners: @pachyderm/INT, @pachyderm/CORE

FRON-1169: Fix input repos on pipeline sidebar (#1634)
  frontend/src/components/InfoPanel/hooks/useInfoPanel.ts
  frontend/src/lib/types.ts
  frontend/src/views/Project/components/ProjectSidebar/__tests__/ProjectSidebar.test.tsx
Owners: none
