Repository pachyderm/pachyderm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pachyderm/CORE, @pachyderm/INT, @pachyderm/PFS

Fix go tests
  src/server/pfs/fuse/fuse_test.go
  src/server/pfs/fuse/server.go
  src/server/pfs/fuse/server_integration_test.go
Owners: @pachyderm/INT

Lint
  src/server/pfs/fuse/fuse_test.go
Owners: @pachyderm/INT

exchange PACH_ID_TOKEN env var for session token during client creation
  src/internal/client/client.go
Owners: none

add OIDC test and default first client context value to PACHD_ADDRESS
  src/internal/config/config.go
  src/server/auth/cmds/cmds_test.go
Owners: none

address comments
  jupyter-extension/jupyterlab_pachyderm/handlers.py
  jupyter-extension/jupyterlab_pachyderm/mount_server_client.py
  jupyter-extension/jupyterlab_pachyderm/pfs_manager.py
Owners: none

Fix some branch trigger tests (#9398)
  src/server/pfs/server/testing/server_test.go
  src/server/pfs/server/trigger.go
Owners: @pachyderm/PFS

fix missing GetClusterDefaults function
  src/server/pps/server/api_server.go
Owners: none

fix TestCommandAliases test
  src/server/cmd/pachctl/cmd/cmd.go
Owners: none

refactor api test
  src/server/pps/server/api_server_test.go
Owners: none

remove duplicate object assignment. Revert create pipeline transaction
  src/server/pps/server/api_server.go
Owners: none

add go:build k8s to test
  src/server/pps/server/api_server_test.go
Owners: none

add Parallel to test
  src/server/pps/server/api_server_test.go
Owners: none

add pachctl rerun pipeline command
  src/server/pps/cmds/cmds.go
  src/server/pps/cmds/cmds_test.go
Owners: none

adding RerunPipeline rpc
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pps/__init__.py
  src/client/transaction.gen.go
  src/internal/client/transaction.gen.go
  src/internal/jsonschema/pps_v2/RerunPipelineRequest.schema.json
  src/internal/middleware/auth/interceptor.go
  src/internal/testpachd/mock_pachd.go
  src/pps/pps.pb.go
  src/pps/pps.pb.validate.go
  src/pps/pps.pb.zap.go
  src/pps/pps.proto
  src/pps/pps_grpc.pb.go
  src/server/pps/server/api_server.go
  src/server/pps/server/api_server_test.go
Owners: @pachyderm/INT, @pachyderm/CORE

fix static checks
  src/server/pps/server/api_server_test.go
Owners: none

regen protos correctly
  proto-docs.json
  proto-docs.md
  src/internal/jsonschema/pps_v2/RerunPipelineRequest.schema.json
  src/pps/pps.pb.go
  src/pps/pps.pb.validate.go
Owners: none

code cleanup
  python-sdk/pachyderm_sdk/api/pps/__init__.py
  src/pps/pps.pb.go
  src/pps/pps.proto
  src/server/pps/server/api_server.go
  src/server/pps/server/api_server_test.go
Owners: @pachyderm/INT, @pachyderm/CORE

adding require to proto
  src/pps/pps.proto
  src/server/pps/cmds/cmds_test.go
Owners: @pachyderm/CORE, @pachyderm/INT

refactor rerun pipeline
  src/server/pps/cmds/cmds.go
  src/server/pps/server/api_server.go
  src/server/pps/server/api_server_test.go
Owners: none

create pipeline -> create pipeline in transaction
  src/server/pps/server/api_server.go
Owners: none

fix null name in the Pipeline message
  proto-docs.json
  src/pps/pps.pb.go
  src/pps/pps.pb.validate.go
  src/pps/pps.proto
Owners: @pachyderm/CORE, @pachyderm/INT

wip
  src/server/auth/cmds/cmds_test.go
Owners: none

fix reprocess and update
  src/server/pps/server/api_server.go
  src/server/pps/server/api_server_test.go
Owners: none

Descendant/ancestor approach v1
  src/server/pfs/fuse/loopback.go
  src/server/pfs/fuse/options.go
Owners: @pachyderm/INT

wip
  jupyter-extension/jupyterlab_pachyderm/pps_client.py
Owners: none

test out enterprise test setup in code
  .circleci/main.yml
  src/internal/minikubetestenv/deploy.go
  src/server/enterprise/testing/cmd_test.go
Owners: none

Coding style fixes
  src/internal/clusterstate/migrationutils/pg_batcher.go
  src/internal/clusterstate/v2.5.0/collection.go
Owners: none

Reduce files domain for ListFile calls
  src/server/pfs/fuse/loopback.go
  src/server/pfs/fuse/util.go
  src/server/pfs/fuse/util_test.go
Owners: @pachyderm/INT

Hide cycler if waiting for datums to mount
  jupyter-extension/src/plugins/mount/components/Datum/hooks/useDatum.tsx
Owners: none

add datum check to cmd test
  src/server/pps/cmds/cmds_test.go
Owners: none

debug connection errors
  src/internal/minikubetestenv/client_factory.go
  src/server/enterprise/testing/cmd_test.go
Owners: none

Fixed formatting issues flagged by lint.
  src/internal/clusterstate/migrationutils/pg_batcher.go
  src/internal/clusterstate/v2.5.0/collection.go
Owners: none

Auto-detect if non-priv mode should be used
  jupyter-extension/jupyterlab_pachyderm/env.py
  jupyter-extension/jupyterlab_pachyderm/mount_server_client.py
Owners: none

[CORE-1991] add some debug stuff.
  Dockerfile.pachd
  etc/helm/examples/local-dev-values.yaml
Owners: none

enterprise test setup
  .circleci/main.yml
Owners: none

set active enterprise
  .circleci/main.yml
Owners: none

address comments
  jupyter-extension/jupyterlab_pachyderm/pfs_manager.py
Owners: none

set the value of no_priv in the constructor based on the determined resource type
  jupyter-extension/jupyterlab_pachyderm/mount_server_client.py
Owners: none

ignore example for now
  src/testing/cmds/test-splitting/main.go
Owners: none

commit to start another build
  jupyter-extension/jupyterlab_pachyderm/mount_server_client.py
Owners: none

.github/CODEOWNERS:

# All
/src/*/*.proto           @pachyderm/CORE @pachyderm/INT

# PFS
/src/pfs/                @pachyderm/PFS
/src/server/pfs/         @pachyderm/PFS
/src/internal/pfsdb/     @pachyderm/PFS
/src/internal/storage/   @pachyderm/PFS

# Integrations
/src/server/pfs/s3       @pachyderm/INT
/src/server/pfs/fuse     @pachyderm/INT
/python-sdk              @pachyderm/INT
