Repository pachyderm/pachyderm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pachyderm/CORE, @lb, @jrockway, @seanslattery, @rob-uhl, @armaan, @chainlink, @alon, @bryce, @pachyderm/PFS, @pachyderm/INT, @bob-uhl, @bob, @brendoncarrolla, @fahad, @brendoncarroll, @albert

.github/CODEOWNERS:

# Default match everything to the CORE team.
# This means that items can be intentionally excluded below by using a match pattern without a group
/* @pachyderm/CORE

# Docs
/doc/ @lb

# Helm
/etc/helm/ @jrockway @seanslattery @rob-uhl @armaan @chainlink

# Services with individual owners
/src/auth/               @alon @jrockway
/src/server/auth/        @alon @jrockway

/src/debug/              @jrockway @bryce
/src/server/debug/       @jrockway @bryce

/src/enterprise/         @alon
/src/server/enterprise/  @alon

/src/identity/           @jrockway @alon
/src/server/identity/    @jrockway @alon

/src/license/            @alon
/src/server/license/     @alon

/src/pfs/                @pachyderm/PFS
/src/server/pfs/         @pachyderm/PFS

/src/pps/                @bryce @alon
/src/server/pps/         @bryce @alon

/src/task/               @bryce

# Integrations
/src/integrations/ @pachyderm/INT
/src/integrations/connectors/snowflake/ @bob-uhl
/src/templates/ @pachyderm/INT

# Internal
# Add all the teams, so anyone can make, or change internal libraries by default.
/src/internal/ @pachyderm/CORE @pachyderm/PFS @pachyderm/INT

# Individuals for specific packages
/src/internal/collection/            @bryce @alon @bob
/src/internal/clusterstate/          @jrockway @bryce
/src/internal/migrations/            @brendoncarrolla
/src/interna/consistenthashing/      @fahad
/src/internal/dockertestenv/         @brendoncarroll
/src/interna/minikubetestenv/        @alon
/src/internal/obj/                   @pachyderm/PFS
/src/interna/pachhash/               @pachyderm/PFS
/src/interna/pachsql/                @albert @brendoncarroll
/src/interna/pachtmpl/               @albert @brendoncarroll @pachyderm/INT
/src/internal/pfsdb/                 @pachyderm/PFS
/src/internal/pfsfile/               @pachyderm/PFS
/src/internal/pfssync/               @pachyderm/PFS
/src/internal/pfsload/               @bryce
/src/internal/ppsdb/                 @bryce
/src/internal/ppsload/               @bryce 
/src/internal/storage/               @pachyderm/PFS
/src/internal/stream/                @bryce
/src/internal/task/                  @bryce
/src/internal/testsnowflake/         @albert
/src/internal/transforms/            @albert @brendoncarroll

# internal/middleware
/src/internal/middleware/auth/       @alon

[CORE-800] Update inspectPipeline error message for non-existent pipelines(#8101)
  src/server/pps/server/api_server.go
Owners: @bryce, @alon

Terminus tracking code (#8121)
  doc/custom_theme/layout.html
  doc/overrides/main.html
  doc/overrides/partials/integrations/analytics.html
Owners: @lb

[CORE-1013] Ensure we collect errors from task chain goroutines (#8123)
  src/internal/storage/chunk/task_chain.go
  src/internal/storage/chunk/task_chain_test.go
  src/server/worker/pipeline/transform/registry.go
Owners: @pachyderm/PFS

Start sidecar PFS server in sidecar mode (#8124)
  src/internal/pachd/sidecar.go
Owners: @pachyderm/CORE, @pachyderm/PFS, @pachyderm/INT

Add mount server to GH release (#8130)
  .circleci/main.yml
Owners: none

Spark compatibility in S3G. (Squash all commits from PR#8115) (#8129)
  examples/spark/s3gateway/README.md
  src/server/pfs/s3/bucket.go
  src/server/pfs/s3/object.go
Owners: @pachyderm/PFS

add build-docker-image dependency for load tests (#8127)
  .circleci/main.yml
  etc/testing/circle/run_load_tests.sh
Owners: none

fix more spots using older go versions (#8077)
  Makefile
  etc/helm/go.mod
  etc/helm/go.sum
  etc/testing/kafka/Dockerfile
  etc/testing/kafka/go.mod
  etc/testing/minikube_version
  etc/testing/spout/Dockerfile
  etc/testing/spout/go.mod
Owners: @pachyderm/CORE, @jrockway, @seanslattery, @rob-uhl, @armaan, @chainlink

internal unused - part 1 (#8091)
  src/internal/backoff/exponential.go
  src/internal/cert/cert.go
  src/internal/cert/cert_test.go
  src/internal/cert/logging_conn.go
  src/internal/cmdutil/cobra.go
  src/internal/cmdutil/exec.go
  src/internal/collection/types.go
  src/internal/config/config.go
  src/internal/config/context.go
  src/internal/dbutil/option.go
  src/internal/dbutil/tx.go
  src/internal/deploy/deploy.go
  src/internal/dockertestenv/mysql.go
  src/internal/dockertestenv/postgres.go
  src/internal/errors/errors.go
  src/internal/lease/lease.go
  src/internal/pool/pool.go
Owners: @pachyderm/CORE, @pachyderm/PFS, @pachyderm/INT, @bryce, @alon, @bob, @brendoncarroll

[core-975] Remove our fork of os/exec (#8066)
  src/internal/exec/exec.go
  src/server/pachyderm_test.go
  src/server/worker/common/common.go
  src/server/worker/driver/driver.go
  src/server/worker/pipeline/service/service.go
Owners: @pachyderm/CORE, @pachyderm/PFS, @pachyderm/INT

add additional meta alias commit test (#8134)
  src/server/pachyderm_test.go
Owners: none

Fix issue with pretty printing JobInfo.Started (#8135)
  src/internal/pretty/pretty.go
  src/internal/pretty/pretty_test.go
  src/server/pachyderm_test.go
  src/server/pps/pretty/pretty.go
  src/server/pps/pretty/pretty_test.go
Owners: @pachyderm/CORE, @pachyderm/PFS, @pachyderm/INT, @bryce, @alon

build mount server for distribution in release workflow (#8136)
  .circleci/main.yml
Owners: none

bump console version (#8139)
  etc/helm/pachyderm/Chart.yaml
  etc/helm/pachyderm/values.yaml
Owners: @jrockway, @seanslattery, @rob-uhl, @armaan, @chainlink

Docs 2.3.2 (#8140)
  doc/docs/2.3.x/deploy-manage/manage/s3gateway/deploy-s3gateway-sidecar.md
  doc/docs/master/deploy-manage/manage/s3gateway/deploy-s3gateway-sidecar.md
  doc/mkdocs-1.13.x.yml
  doc/mkdocs-2.0.x.yml
  doc/mkdocs-2.1.x.yml
  doc/mkdocs-2.2.x.yml
  doc/mkdocs-2.3.x.yml
  doc/mkdocs-master.yml
Owners: @lb

upgrade loki-stack (#8092)
  etc/helm/pachyderm/Chart.lock
  etc/helm/pachyderm/Chart.yaml
  etc/helm/pachyderm/charts/loki-stack-2.6.4.tgz
  etc/helm/pachyderm/charts/loki-stack-2.8.1.tgz
  etc/helm/pachyderm/values.yaml
  src/internal/minikubetestenv/deploy.go
Owners: @jrockway, @seanslattery, @rob-uhl, @armaan, @chainlink, @pachyderm/CORE, @pachyderm/PFS, @pachyderm/INT

Update Sandbox URL to .com
  doc/docs/2.0.x/getting-started/index.md
Owners: @lb

Update Sandbox URL to .com
  doc/overrides/main.html
Owners: @lb

Update Sandbox URL to .com
  doc/overrides/home.html
Owners: @lb

Update Sandbox URL to .com
  doc/docs/2.1.x/getting-started/index.md
Owners: @lb

Update Sandbox URL to .com
  doc/docs/2.2.x/getting-started/index.md
Owners: @lb

Update Sandbox URL to .com
  doc/docs/2.3.x/getting-started/index.md
Owners: @lb

Remove testuser dockerfile (not needed) (#8016)
  Makefile
  etc/reset.py
  etc/test-images/Dockerfile.testuser
  src/internal/testutil/pach_client.go
Owners: @pachyderm/CORE, @pachyderm/PFS, @pachyderm/INT

Update Sandbox URL to .com
  doc/docs/master/getting-started/index.md
Owners: @lb

Add govulncheck to CI, fix vulnerable dependency (#8147)
  .circleci/main.yml
  go.mod
  go.sum
Owners: @pachyderm/CORE

avoid building testuser container, after #8016 (#8148)
  etc/testing/circle/build.sh
Owners: none

[CORE-814] update unit tests to work with GOMAXPROCS=8 (#8145)
  .circleci/main.yml
  src/internal/dockertestenv/minio.go
  src/internal/dockertestenv/mysql.go
  src/internal/dockertestenv/postgres.go
Owners: @brendoncarroll

change liveness probe to not use URI (#8128)
  etc/helm/pachyderm/templates/pgbouncer/deployment.yaml
Owners: @jrockway, @seanslattery, @rob-uhl, @armaan, @chainlink

fix alias filter (#8157)
  .circleci/main.yml
Owners: none

enable nightly releases (#8111)
  .circleci/config.yml
  .circleci/main.yml
Owners: none

[CORE-1041] Increase Coverage in the Enterprise Package
  src/internal/testpachd/mock_pachd.go
  src/internal/testpachd/real_env.go
  src/internal/testutil/auth.go
  src/internal/testutil/enterprise.go
  src/server/auth/server/testing/admin_test.go
  src/server/enterprise/server/api_server_test.go
Owners: @pachyderm/CORE, @pachyderm/PFS, @pachyderm/INT, @alon, @jrockway

Snowflake Connector (Read and Write) (#8125)
  .circleci/main.yml
  Makefile
  etc/testing/circle/run_tests.sh
  src/integrations/connectors/snowflake/Dockerfile
  src/integrations/connectors/snowflake/README.md
  src/integrations/connectors/snowflake/snowflake-read.jsonnet
  src/integrations/connectors/snowflake/snowflake-write.jsonnet
  src/integrations/connectors/snowflake/snowflake_test.go
  src/integrations/connectors/snowflake/snowpach/main.go
  src/internal/pachsql/url_test.go
  src/internal/sdata/db_test.go
  src/internal/sdata/fuzz_test.go
  src/internal/sdata/sdata_test.go
  src/internal/sdata/testutil/generate.go
  src/internal/testsnowflake/snowflake.go
  src/server/pachyderm_test.go
Owners: @pachyderm/CORE, @bob-uhl, @pachyderm/PFS, @pachyderm/INT, @albert

Add unit tests to storage layer for new compaction optimization and metadata sharding (#8162)
  src/internal/storage/fileset/compaction_test.go
  src/internal/storage/fileset/index/index_test.go
  src/internal/storage/fileset/index/option.go
  src/internal/storage/fileset/index/reader.go
Owners: @pachyderm/PFS

pipeline inputs typo fix (#8161)
  doc/mkdocs-2.3.x.yml
  doc/mkdocs-master.yml
Owners: @lb

[CORE-895] re-enable transform tests (#8025)
  src/internal/dockertestenv/minio.go
  src/internal/ppsdb/ppsdb.go
  src/server/worker/pipeline/transform/common_test.go
  src/server/worker/pipeline/transform/transform_test.go
Owners: @brendoncarroll, @bryce

regenerate protos as they've gone out of sync (#8166)
  Makefile
  etc/proto/test_no_changes.sh
Owners: @pachyderm/CORE

[CORE-859] Implement pachctl put file untar (#8167)
  src/internal/fsutil/file.go
  src/server/pfs/cmds/cmds.go
  src/server/pfs/cmds/cmds_test.go
Owners: @pachyderm/CORE, @pachyderm/PFS, @pachyderm/INT

Disable S3 server when running in paused mode (#8168)
  src/internal/pachd/paused.go
Owners: @pachyderm/CORE, @pachyderm/PFS, @pachyderm/INT

fix unbound variable error on release test envs (#8173)
  etc/testing/circle/run_release_tests.sh
Owners: none

upgrade dex to 2.33.0 (via fork) (#8165)
  go.mod
  go.sum
Owners: @pachyderm/CORE
