Repository pachyderm/pachyderm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pachyderm/CORE, @pachyderm/INT, @pachyderm/PFS

.github/CODEOWNERS:

# All
/src/*/*.proto           @pachyderm/CORE @pachyderm/INT

# PFS
/src/pfs/                @pachyderm/PFS
/src/server/pfs/         @pachyderm/PFS
/src/internal/pfsdb/     @pachyderm/PFS
/src/internal/storage/   @pachyderm/PFS

# Integrations
/src/server/pfs/s3       @pachyderm/INT
/src/server/pfs/fuse     @pachyderm/INT
/python-sdk              @pachyderm/INT

fixed BranchProvenance test
  src/internal/pfsdb/commit_provenance.go
  src/internal/pfsdb/commits.go
  src/server/pfs/cmds/cmds_test.go
  src/server/pfs/pfs.go
  src/server/pfs/server/testing/server_test.go
Owners: @pachyderm/PFS

[PFS-94-138] add nil check.
  src/server/pfs/server/driver.go
Owners: @pachyderm/PFS

add more descriptive inspect pipeline error message
  src/server/pps/server/api_server.go
Owners: none

[PFS-94-138] revert is branch not found err.
  src/server/pfs/pfs.go
Owners: @pachyderm/PFS

Remove repeating header when listing files
  src/server/pfs/cmds/cmds.go
  src/server/pfs/pretty/pretty.go
Owners: @pachyderm/PFS

[FRON-1065]: Add RerunPipeline RPC (#9287)
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pps/__init__.py
  src/client/transaction.gen.go
  src/internal/client/transaction.gen.go
  src/internal/jsonschema/pps_v2/RerunPipelineRequest.schema.json
  src/internal/middleware/auth/interceptor.go
  src/internal/testpachd/mock_pachd.go
  src/pps/pps.pb.go
  src/pps/pps.pb.validate.go
  src/pps/pps.pb.zap.go
  src/pps/pps.proto
  src/pps/pps_grpc.pb.go
  src/server/cmd/pachctl/cmd/cmd.go
  src/server/pps/cmds/cmds.go
  src/server/pps/cmds/cmds_test.go
  src/server/pps/server/api_server.go
  src/server/pps/server/api_server_test.go
Owners: @pachyderm/INT, @pachyderm/CORE

Improved query
  src/internal/pfsdb/commit_provenance.go
  src/internal/pfsdb/commits.go
  src/internal/pfsdb/model.go
  src/server/pfs/server/testing/server_test.go
Owners: @pachyderm/PFS

updated determined defaults so values.schema is generated correctly
  etc/helm/pachyderm/values.schema.json
  etc/helm/pachyderm/values.yaml
Owners: none

Update values.yaml
  etc/helm/pachyderm/values.yaml
Owners: none

start on lease instead of mutex
  src/internal/minikubetestenv/deploy.go
  src/testing/deploy/upgrade_test.go
Owners: none

Djanicek/core 1829/det pach testenv (#9140)
  Makefile
  etc/helm/examples/int-test-values-with-det.yaml
  etc/helm/examples/local-dev-values-with-det.yaml
  etc/helm/pachyderm/templates/determined/master-config.yaml
  etc/helm/pachyderm/templates/pachd/deployment.yaml
  etc/helm/pachyderm/templates/pachd/identity-config.yaml
  etc/helm/pachyderm/values.schema.json
  etc/helm/pachyderm/values.yaml
  src/internal/minikubetestenv/deploy.go
  src/testing/deploy/deploy_test.go
Owners: none

Backport PR #9140 to 2.7.x (#9407)
  Makefile
  etc/helm/examples/int-test-values-with-det.yaml
  etc/helm/examples/local-dev-values-with-det.yaml
  etc/helm/pachyderm/templates/determined/master-config.yaml
  etc/helm/pachyderm/templates/pachd/deployment.yaml
  etc/helm/pachyderm/templates/pachd/identity-config.yaml
  etc/helm/pachyderm/values.schema.json
  etc/helm/pachyderm/values.yaml
  src/internal/minikubetestenv/deploy.go
  src/testing/deploy/deploy_test.go
Owners: none

Update comment
  src/server/pfs/pretty/pretty.go
Owners: @pachyderm/PFS

exchange PACH_ID_TOKEN env var for session token during client creation [CORE-1987] (#9397)
  src/internal/client/client.go
  src/internal/config/config.go
  src/server/auth/cmds/cmds_test.go
Owners: none

Switch from pps.UnimplementedAPIServer to pps.UnsafeAPIServer
  src/internal/testpachd/mock_pachd.go
  src/server/pps/server/api_server.go
Owners: none

[PFS-94-138] everything could be nil.
  src/server/pfs/server/driver.go
Owners: @pachyderm/PFS

[PFS-94-138] remove unneeded line.
  src/internal/pfsdb/branches.go
  src/server/pfs/server/driver.go
Owners: @pachyderm/PFS

Update runCronTrigger() to use pfsdb instead of collections
  src/server/pfs/server/master.go
Owners: @pachyderm/PFS

[PFS-94-138] update server_test.go to have separate tests.
  src/server/pfs/server/testing/server_test.go
Owners: @pachyderm/PFS

[PFS-94-138] remove parallelism to reduce load on CI.
  src/server/pfs/server/testing/server_test.go
Owners: @pachyderm/PFS

PR feedback
  src/server/pfs/fuse/loopback.go
  src/server/pfs/fuse/server_test.go
  src/server/pfs/fuse/util.go
Owners: @pachyderm/INT

uncapped leases
  src/internal/minikubetestenv/client_factory.go
  src/internal/minikubetestenv/deploy.go
  src/testing/deploy/deploy_test.go
  src/testing/deploy/determined_test.go
  src/testing/deploy/upgrade_test.go
Owners: none

add some debugging prints
  src/internal/testutil/db.go
  src/server/pfs/server/testing/server_test.go
Owners: @pachyderm/PFS

[PFS-94-138] skip trigger on commits with nil branches.
  src/server/pfs/server/trigger.go
Owners: @pachyderm/PFS

temp
  src/server/pfs/server/driver.go
  src/server/pfs/server/trigger.go
Owners: @pachyderm/PFS

tmp
  src/server/pfs/server/driver.go
  src/server/pfs/server/transaction_defer.go
Owners: @pachyderm/PFS

fixed branch propagation in triggerCommit
  src/server/pfs/server/driver.go
  src/server/pfs/server/testing/server_test.go
  src/server/pfs/server/transaction_defer.go
  src/server/pfs/server/trigger.go
Owners: @pachyderm/PFS

fix TestTrigger/Count
  src/internal/pfsdb/branches.go
  src/server/pfs/server/testing/server_test.go
  src/server/pfs/server/trigger.go
Owners: @pachyderm/PFS

cleanup
  src/server/pfs/server/testing/server_test.go
Owners: @pachyderm/PFS

Switch everything but PFS to embed the type-safe gRPC server
  src/internal/testpachd/mock_pachd.go
  src/server/admin/server/api_server.go
  src/server/auth/server/api_server.go
  src/server/debug/server/server.go
  src/server/enterprise/server/api_server.go
  src/server/identity/server/api_server.go
  src/server/license/server/api_server.go
  src/server/proxy/server/api_server.go
  src/server/transaction/server/api_server.go
  src/server/worker/server/api_server.go
  src/typescript/pps/pps.pb.ts
  src/version/api_server.go
Owners: none

Update to Go 1.21.3
  .circleci/config.yml
  .circleci/main.yml
  etc/proto/Dockerfile
  etc/testing/kafka/Dockerfile
  etc/testing/spout/Dockerfile
  go.mod
  src/testing/cmds/go-test-results/Dockerfile
Owners: none

Initial commit for PJS protos
  proto-docs.json
  proto-docs.md
  python-sdk/pachyderm_sdk/api/pjs/__init__.py
  src/client/transaction.gen.go
  src/internal/client/transaction.gen.go
  src/internal/jsonschema/pjs/CancelJobRequest.schema.json
  src/internal/jsonschema/pjs/CancelJobResponse.schema.json
  src/internal/jsonschema/pjs/CreateJobRequest.schema.json
  src/internal/jsonschema/pjs/CreateJobResponse.schema.json
  src/internal/jsonschema/pjs/DeleteJobRequest.schema.json
  src/internal/jsonschema/pjs/DeleteJobResponse.schema.json
  src/internal/jsonschema/pjs/InspectJobRequest.schema.json
  src/internal/jsonschema/pjs/InspectQueueRequest.schema.json
  src/internal/jsonschema/pjs/Job.schema.json
  src/internal/jsonschema/pjs/JobInfo.schema.json
  src/internal/jsonschema/pjs/JobInfoDetails.schema.json
  src/internal/jsonschema/pjs/ListJobRequest.schema.json
  src/internal/jsonschema/pjs/ListQueueRequest.schema.json
  src/internal/jsonschema/pjs/ProcessQueueRequest.schema.json
  src/internal/jsonschema/pjs/ProcessQueueResponse.schema.json
  src/internal/jsonschema/pjs/Queue.schema.json
  src/internal/jsonschema/pjs/QueueElement.schema.json
  src/internal/jsonschema/pjs/QueueInfo.schema.json
  src/internal/jsonschema/pjs/QueueInfoDetails.schema.json
  src/internal/jsonschema/pjs/WalkJobRequest.schema.json
  src/pjs/pjs.proto
  src/typescript/pjs/pjs.pb.ts
  src/typescript/pps/pps.pb.ts
Owners: @pachyderm/INT, @pachyderm/CORE

New squash / drop commit RPCs and implementations
  src/client/transaction.gen.go
  src/internal/middleware/auth/interceptor.go
  src/internal/testpachd/mock_pachd.go
  src/internal/testpachd/mock_transaction.go
  src/internal/transactionenv/txncontext/context.go
  src/pfs/pfs.pb.go
  src/pfs/pfs.pb.zap.go
  src/pfs/pfs.proto
  src/server/pfs/server/api_server.go
  src/server/pfs/server/driver.go
  src/server/pfs/server/testing/server_test.go
  src/server/pps/server/transaction_defer.go
Owners: @pachyderm/PFS

[PFS-94-138] fix a failing cmd test.
  src/server/pfs/server/driver.go
Owners: @pachyderm/PFS

fix http test
  src/server/cmd/pachhttp/main.go
  src/server/http/http_test.go
Owners: none

security: upgrade envoy to 1.25.10
  .circleci/main.yml
  etc/helm/pachyderm/values.yaml
Owners: none

[CORE-1997] Address govulncheck failure (#9414)
  .circleci/config.yml
  .circleci/main.yml
  etc/helm/go.mod
  etc/helm/go.sum
  etc/proto/Dockerfile
  etc/testing/kafka/Dockerfile
  etc/testing/spout/Dockerfile
  examples/spouts/go-rabbitmq-spout/source/go.mod
  examples/spouts/go-rabbitmq-spout/source/go.sum
  go.mod
  go.sum
  src/testing/cmds/go-test-results/Dockerfile
Owners: none

security: upgrade envoy
  .circleci/main.yml
  etc/helm/pachyderm/values.yaml
Owners: none

[2.7.x] upgrade envoy (#9417)
  .circleci/main.yml
  etc/helm/pachyderm/values.yaml
Owners: none

[CORE-1956] Remove repeating header when listing files (#9405)
  src/server/pfs/cmds/cmds.go
  src/server/pfs/pretty/pretty.go
Owners: @pachyderm/PFS
