Repository pachyderm/pachyderm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @pachyderm/CORE, @pachyderm/INT, @pachyderm/PFS

Remove redundant call of staticallyValidate
  src/server/pps/server/api_server.go
Owners: none

cgo and cover change
  .circleci/main.yml
Owners: none

Remove unused variable
  src/server/pps/server/api_server.go
Owners: none

[PFS-94-138] fix another bug.
  src/server/pfs/server/driver.go
  src/server/pfs/server/testing/server_test.go
Owners: @pachyderm/PFS

shuffle command order
  .circleci/main.yml
Owners: none

[PFS-94-138] fix another bug where parent was not getting set correctly.
  src/server/pfs/server/driver.go
  src/server/pfs/server/testing/server_test.go
Owners: @pachyderm/PFS

go test args
  .circleci/main.yml
Owners: none

syntax
  .circleci/main.yml
Owners: none

remove manual split code
  .circleci/main.yml
Owners: none

add coverage
  .circleci/main.yml
Owners: none

update cover
  .circleci/main.yml
Owners: none

Add a /pfs HTTP endpoint that allows browsing files stored in PFS (#9187)
  etc/generate-envoy-config/pachyderm-services.libsonnet
  etc/helm/pachyderm/envoy-tls.json
  etc/helm/pachyderm/envoy.json
  go.mod
  go.sum
  src/internal/conditionalrequest/conditionalrequest.go
  src/internal/conditionalrequest/conditionalrequest_test.go
  src/internal/fileserver/fileserver.go
  src/internal/fileserver/fileserver_test.go
  src/internal/fileserver/templates/directory-listing-footer.html
  src/internal/fileserver/templates/directory-listing-header.html
  src/internal/fileserver/templates/directory-listing-row.html
  src/internal/fileserver/templates/error.html
  src/internal/log/http.go
  src/internal/log/uuid.go
  src/server/http/http.go
  src/server/proxy_test.go
Owners: none

go cover config
  .circleci/main.yml
Owners: none

typo
  .circleci/main.yml
Owners: none

Fix prefix bug when deciding which files to show in mount
  src/server/pfs/fuse/loopback.go
Owners: @pachyderm/INT

Can now mount multiple files from a single repo
  jupyter-extension/jupyterlab_pachyderm/tests/test_integrations.py
  src/server/pfs/cmds/cmds_test.go
  src/server/pfs/cmds/mount_unix.go
  src/server/pfs/fuse/fuse.go
  src/server/pfs/fuse/fuse_test.go
  src/server/pfs/fuse/loopback.go
  src/server/pfs/fuse/options.go
  src/server/pfs/fuse/server.go
Owners: @pachyderm/PFS, @pachyderm/INT

Linting
  src/server/pfs/cmds/cmds_test.go
  src/server/pfs/fuse/fuse.go
  src/server/pfs/fuse/fuse_test.go
Owners: @pachyderm/PFS, @pachyderm/INT

Descendant/ancestor approach v1
  src/server/pfs/fuse/loopback.go
  src/server/pfs/fuse/options.go
Owners: @pachyderm/INT

class name timing
  .circleci/main.yml
Owners: none

Add logging for nonpriv
  jupyter-extension/jupyterlab_pachyderm/mount_server_client.py
Owners: none

Iterator over mounted files + reduce number of ListFile calls
  src/server/pfs/fuse/loopback.go
  src/server/pfs/fuse/util.go
  src/server/pfs/fuse/util_test.go
Owners: @pachyderm/INT

try unit test re-runs
  .circleci/main.yml
  etc/testing/circle/format-coverage.sh
Owners: none

-I for xargs
  .circleci/main.yml
Owners: none

FE-243: Auto-detect if non-priv mode should be used (#9401)
  jupyter-extension/jupyterlab_pachyderm/env.py
  jupyter-extension/jupyterlab_pachyderm/mount_server_client.py
Owners: none

syntax
  .circleci/main.yml
Owners: none

wait for auth activate
  src/internal/testutil/auth.go
Owners: none

Fix logic bug, and add tests
  src/server/pps/server/defaults.go
  src/server/pps/server/defaults_test.go
Owners: none

fix
  src/client/client.go
  src/internal/client/client.go
  src/server/auth/cmds/cmds_test.go
Owners: none

Tinker with identity test util
  src/internal/testutil/identity.go
Owners: none

test running all as integration test
  .circleci/main.yml
Owners: none

fix test run
  .circleci/main.yml
Owners: none

add circle command
  .circleci/main.yml
Owners: none

don't wipe kubeconfig for int tests
  .circleci/main.yml
Owners: none

[PFS-94-138] Fix the real inspect commit bug.
  src/server/pfs/server/driver.go
  src/server/pfs/server/master.go
  src/server/pfs/server/testing/server_test.go
Owners: @pachyderm/PFS

[CORE-1809] Validate effective specs (#9352)
  src/server/pachyderm_test.go
  src/server/pps/cmds/defaults_test.go
  src/server/pps/server/api_server.go
  src/server/pps/server/defaults.go
  src/server/pps/server/defaults_test.go
Owners: none

pass grpc client connection instead of pach client
  src/internal/pachd/builder.go
  src/internal/restgateway/restgateway.go
  src/openapi/pachyderm_api.swagger.json
  src/server/http/http.go
Owners: none

merge
  src/internal/restgateway/restgateway.go
  src/server/http/http.go
  src/server/proxy_test.go
Owners: none

[PFS-94-138] fix gRPC error in s3 code.
  src/server/pfs/server/driver.go
Owners: @pachyderm/PFS

[PFS-94-138] re-introduce guard that prevents branch name from being a UUID v4.
  src/internal/pfsdb/branches.go
Owners: @pachyderm/PFS

revert from external go client and use passed ctx
  src/client/client.go
  src/internal/client/client.go
Owners: none

.github/CODEOWNERS:

# All
/src/*/*.proto           @pachyderm/CORE @pachyderm/INT

# PFS
/src/pfs/                @pachyderm/PFS
/src/server/pfs/         @pachyderm/PFS
/src/internal/pfsdb/     @pachyderm/PFS
/src/internal/storage/   @pachyderm/PFS

# Integrations
/src/server/pfs/s3       @pachyderm/INT
/src/server/pfs/fuse     @pachyderm/INT
/python-sdk              @pachyderm/INT
