Repository pachyderm/pachyderm, pull requests merged in 2019-02, with the labels that each got.

#3421 three grammar fixes
  doc/getting_started/beginner_tutorial.rst
Labels: docs

#3445 Cleanup travis
  .travis.yml
  etc/testing/ci/before_install.sh
  etc/testing/ci/travis_install_batch_deps.sh
  etc/testing/travis.sh
  etc/testing/travis_before_install.sh
  src/server/cmd/pachctl/cmd/cmd_test.go
Labels: technical-debt, testing

#3434 Run examples in CI
  .travis.yml
  etc/testing/examples.sh
  etc/testing/travis.sh
  etc/testing/travis_before_install.sh
Labels: discussion, testing

#3462 Fix `--no-metrics` and `--no-port-forwarding`
  src/server/admin/cmds/cmds.go
  src/server/auth/cmds/cmds.go
  src/server/cmd/pachctl/cmd/cmd.go
  src/server/cmd/pachctl/cmd/cmd_test.go
  src/server/debug/cmds/cmds.go
  src/server/enterprise/cmds/cmds.go
  src/server/pfs/cmds/cmds.go
  src/server/pkg/deploy/cmds/cmds.go
  src/server/pps/cmds/cmds.go
Labels: bug

#3450 Rename ADDRESS in docs
  doc/cookbook/vault.md
  doc/deployment/amazon_web_services/connecting_to_your_cluster.md
  doc/deployment/upgrading.md
  doc/enterprise/deployment.md
  doc/getting_started/local_installation.md
  doc/managing_pachyderm/general_troubleshooting.md
  doc/pachctl/pachctl.rst
Labels: docs

#3467 TravisCI cleanup
  .travis.yml
  etc/kube/start-minikube.sh
  etc/testing/ci/before_install.sh
  etc/testing/ci/travis_install_batch_deps.sh
  etc/testing/travis.sh
  etc/testing/travis_before_install.sh
  src/server/cmd/pachctl/cmd/cmd_test.go
Labels: discussion, technical-debt, testing
