Repository pachyderm/pachyderm, pull requests merged in 2019-11, with the labels that each got.

#4292 [DOC]The Concepts section cleanup
  doc/docs/concepts/data-concepts/branch.md
  doc/docs/concepts/data-concepts/commit.md
  doc/docs/concepts/data-concepts/file.md
  doc/docs/concepts/data-concepts/history.md
  doc/docs/concepts/data-concepts/provenance.md
  doc/docs/concepts/data-concepts/repo.md
  doc/docs/concepts/pipeline-concepts/datum/cross-union.md
  doc/docs/concepts/pipeline-concepts/datum/index.md
  doc/docs/concepts/pipeline-concepts/index.md
  doc/docs/concepts/pipeline-concepts/pipeline/cron.md
  doc/docs/concepts/pipeline-concepts/pipeline/index.md
  doc/docs/concepts/pipeline-concepts/pipeline/join.md
  doc/docs/concepts/pipeline-concepts/pipeline/spout.md
Labels: docs

#4309 update netlify.toml with the correct redirects
  netlify.toml
Labels: docs

#4289 [DOC]Add err_cmd docs and example
  doc/docs/1.9.x/assets/images/datums_in_progress.svg
  doc/docs/1.9.x/assets/images/err_cmd_workflow.svg
  doc/docs/1.9.x/concepts/pipeline-concepts/datum/datum-processing-states.md
  doc/docs/1.9.x/concepts/pipeline-concepts/datum/index.md
  doc/docs/1.9.x/how-tos/err_cmd.md
  doc/docs/latest/assets/images/datums_in_progress.svg
  doc/docs/latest/assets/images/err_cmd_workflow.svg
  doc/docs/latest/concepts/pipeline-concepts/datum/datum-processing-states.md
  doc/docs/latest/how-tos/err_cmd.md
  doc/error_test.json
  doc/mkdocs-1.9.x.yml
  doc/mkdocs.yml
  examples/err_cmd/README.md
Labels: docs

#4311 [DOC]Fix formatting
  doc/docs/latest/reference/s3gateway_api.md
Labels: docs

#4326 Clean up after merge conflict
  doc/docs/latest/deploy-manage/deploy/google_cloud_platform.md
Labels: docs

#4343 Update URLs in the main README
  README.md
Labels: docs

#4338 Add a missing redirect
  netlify.toml
Labels: docs

#4360 [DOC] Update the S3 docs
  doc/docs/1.9.x/enterprise/s3gateway.md
  doc/docs/1.9.x/reference/s3gateway_api.md
  doc/docs/master/enterprise/s3gateway.md
  doc/docs/master/reference/s3gateway_api.md
Labels: docs

#4355 gRPC server refactor
  etc/compile/wait.sh
  go.mod
  go.sum
  src/client/pkg/grpcutil/server.go
  src/server/cmd/pachd/main.go
  src/server/cmd/worker/main.go
  src/server/pfs/server/testing.go
  src/server/pkg/testutil/env.go
  src/server/pkg/testutil/mock_pachd.go
  src/server/transaction/server/server_test.go
Labels: 1.9.9

#4203 Commit propagation progress
  go.mod
  go.sum
  src/client/pfs/pfs.pb.go
  src/client/pfs/pfs.proto
  src/server/pfs/pretty/pretty.go
  src/server/pfs/server/driver.go
  src/server/pfs/server/server_test.go
  src/server/pkg/pretty/pretty.go
Labels: 1.9.9

#4366 [DOC]Fix links in the transactions section
  doc/docs/master/how-tos/use-transactions-to-run-multiple-commands.md
  doc/mkdocs-master.yml
  netlify.toml
Labels: 1.9.9, docs
