Repository pachyderm/pachyderm, pull requests merged in 2020-01, with the labels that each got.

#4484 [DOC]Fixed links
  doc/docs/1.9.x/deploy-manage/deploy/google_cloud_platform.md
  doc/docs/1.9.x/enterprise/index.md
  doc/docs/master/concepts/advanced-concepts/deferred_processing.md
  doc/docs/master/concepts/advanced-concepts/distributed_computing.md
  doc/docs/master/concepts/pipeline-concepts/distributed_computing.md
  doc/docs/master/deploy-manage/deploy/google_cloud_platform.md
  doc/docs/master/enterprise/index.md
  doc/docs/master/how-tos/index.md
  doc/mkdocs-master.yml
Labels: 1.10, docs

#4393 Expose configurable object storage upload concurrency
  etc/testing/deploy-manifests/golden/amazon-deploy-manifest.json
  etc/testing/deploy-manifests/golden/amazon-deploy-manifest.yaml
  etc/testing/deploy-manifests/golden/custom-deploy-manifest.json
  etc/testing/deploy-manifests/golden/custom-deploy-manifest.yaml
  etc/testing/deploy-manifests/golden/google-deploy-manifest.json
  etc/testing/deploy-manifests/golden/google-deploy-manifest.yaml
  etc/testing/deploy-manifests/golden/microsoft-deploy-manifest.json
  etc/testing/deploy-manifests/golden/microsoft-deploy-manifest.yaml
  go.mod
  go.sum
  src/server/pfs/server/driver.go
  src/server/pkg/deploy/assets/assets.go
  src/server/pkg/deploy/cmds/cmds.go
  src/server/pkg/serviceenv/config.go
  src/server/pps/server/worker_rc.go
Labels: 1.9.11

#4486 Refactor Pachd startup
  go.mod
  go.sum
  src/server/cmd/pachd/main.go
Labels: 1.9.11

#4452 [DOC]Jupyterhub docs
  doc/docs/master/assets/images/d_jupyterhub-pachyderm-arch.svg
  doc/docs/master/assets/images/s_jupyterhub_whoami.png
  doc/docs/master/deploy-manage/deploy/deploy-pachyderm-jupyterhub.md
  doc/docs/master/deploy-manage/deploy/index.md
  doc/docs/master/how-tos/use-jupyterhub/index.md
  doc/docs/master/how-tos/use-jupyterhub/using-jupyterhub.md
  doc/mkdocs-master.yml
Labels: 1.10, docs

#4493 Fix python setup process
  etc/testing/travis_install.sh
Labels: 1.9.11

#4499 Update JupyterHub docs
  doc/docs/master/deploy-manage/deploy/deploy-pachyderm-jupyterhub.md
  doc/docs/master/how-tos/use-jupyterhub/index.md
Labels: 1.9.11, docs, priority: high

#4494 Added support for zsh completions
  src/server/cmd/pachctl/cmd/cmd.go
Labels: needs docs

#4530 Fix bug in 'pachctl edit pipeline' and make --raw and --output description and usage consistent
  src/server/pps/cmds/cmds.go
  src/server/pps/cmds/cmds_test.go
Labels: 1.9.12

#4483 Implement pachctl create kube-secret
  doc/docs/master/reference/pachctl/pachctl_create_secret.md
  doc/docs/master/reference/pachctl/pachctl_delete_secret.md
  doc/docs/master/reference/pachctl/pachctl_inspect_secret.md
  doc/docs/master/reference/pachctl/pachctl_list_secret.md
  etc/testing/deploy-manifests/golden/amazon-deploy-manifest.json
  etc/testing/deploy-manifests/golden/amazon-deploy-manifest.yaml
  etc/testing/deploy-manifests/golden/custom-deploy-manifest.json
  etc/testing/deploy-manifests/golden/custom-deploy-manifest.yaml
  etc/testing/deploy-manifests/golden/google-deploy-manifest.json
  etc/testing/deploy-manifests/golden/google-deploy-manifest.yaml
  etc/testing/deploy-manifests/golden/microsoft-deploy-manifest.json
  etc/testing/deploy-manifests/golden/microsoft-deploy-manifest.yaml
  src/client/pps.go
  src/client/pps/pps.pb.go
  src/client/pps/pps.proto
  src/client/transaction.go
  src/server/admin/server/convert1_8.go
  src/server/pachyderm_test.go
  src/server/pkg/deploy/assets/assets.go
  src/server/pkg/testutil/mock_pachd.go
  src/server/pps/cmds/cmds.go
  src/server/pps/pretty/pretty.go
  src/server/pps/server/api_server.go
Labels: needs docs

#4544 Fix deferred processing and links
  doc/docs/1.9.x/concepts/advanced-concepts/deferred_processing.md
  doc/docs/1.9.x/concepts/advanced-concepts/distributed_computing.md
  doc/docs/1.9.x/deploy-manage/manage/autoscaling.md
  doc/docs/1.9.x/how-tos/splitting-data/splitting.md
  doc/docs/1.9.x/how-tos/time_windows.md
  doc/docs/1.9.x/reference/pipeline_spec.md
  doc/docs/master/concepts/advanced-concepts/deferred_processing.md
  doc/docs/master/concepts/advanced-concepts/distributed_computing.md
  doc/docs/master/deploy-manage/manage/autoscaling.md
  doc/docs/master/how-tos/splitting-data/splitting.md
  doc/docs/master/how-tos/time_windows.md
  doc/docs/master/reference/pipeline_spec.md
  doc/mkdocs-1.9.x.yml
  doc/mkdocs-master.yml
  netlify.toml
Labels: docs
