Repository pachyderm/pachyderm, pull requests merged in 2020-02, with the labels that each got.

#4555 Patch marker gate to 1.9.x
  src/client/pps/pps.pb.go
  src/client/pps/pps.proto
  src/server/pachyderm_test.go
  src/server/pkg/ppsconsts/ppsconsts.go
  src/server/pps/server/api_server.go
  src/server/worker/api_server.go
  src/server/worker/master.go
Labels: 1.9.12

#4556 Add a redirect to pipeline concepts
  netlify.toml
Labels: docs

#4532 Cluster ID checking improvements
  etc/reset.py
  etc/testing/deploy-manifests/golden/amazon-deploy-manifest.json
  etc/testing/deploy-manifests/golden/amazon-deploy-manifest.yaml
  etc/testing/deploy-manifests/golden/custom-deploy-manifest.json
  etc/testing/deploy-manifests/golden/custom-deploy-manifest.yaml
  etc/testing/deploy-manifests/golden/google-deploy-manifest.json
  etc/testing/deploy-manifests/golden/google-deploy-manifest.yaml
  etc/testing/deploy-manifests/golden/microsoft-deploy-manifest.json
  etc/testing/deploy-manifests/golden/microsoft-deploy-manifest.yaml
  etc/testing/deploy-manifests/validate.sh
  src/client/admin/admin.pb.go
  src/client/admin/admin.proto
  src/client/client.go
  src/client/pkg/config/config.pb.go
  src/client/pkg/config/config.proto
  src/client/pkg/config/context.go
  src/server/cmd/pachctl/cmd/cmd.go
  src/server/cmd/pachd/main.go
  src/server/config/cmds.go
  src/server/pkg/deploy/assets/assets.go
  src/server/pkg/deploy/cmds/cmds.go
  src/server/pkg/serviceenv/config.go
Labels: 1.10

#4565 If we can't load the kubernetes config, use namespace "default"
  src/server/pkg/deploy/cmds/cmds.go
Labels: 1.9.13

#4571 Add a spout marker example
  examples/spouts/spout-marker/Dockerfile
  examples/spouts/spout-marker/README.md
  examples/spouts/spout-marker/spout-marker-example.py
  examples/spouts/spout-marker/spout-marker-pipeline.json
Labels: 1.9.13, docs

#4377 [DOC]Add spout marker intro
  doc/docs/master/concepts/pipeline-concepts/pipeline/spout.md
Labels: 1.9.13, docs

#4576 [DOC] Fixes repo name desc
  doc/docs/1.9.x/concepts/data-concepts/repo.md
  doc/docs/1.9.x/reference/pipeline_spec.md
  doc/docs/1.9.x/troubleshooting/general_troubleshooting.md
  doc/docs/master/concepts/data-concepts/repo.md
  doc/docs/master/reference/pipeline_spec.md
  doc/docs/master/troubleshooting/general_troubleshooting.md
Labels: 1.9.13, docs

#4600 Add Google Analytics info
  doc/material/base.html
  doc/mkdocs-1.9.x.yml
  doc/mkdocs-master.yml
Labels: docs

#4533 [DOC]Install Pachctl Autocompletion
  doc/docs/master/deploy-manage/deploy/index.md
  doc/docs/master/getting_started/index.md
  doc/docs/master/getting_started/install-pachctl-completion.md
  doc/mkdocs-master.yml
Labels: 1.10, do-not-merge, docs

#4596 Allow any s3 credentials when auth is disabled
  src/server/pfs/s3/auth.go
Labels: needs docs

#4610 Clariify that path/in/pfs is path/to/file
  go.sum
  src/server/pfs/cmds/cmds.go
Labels: docs

#4625 Update S3 auth doc
  doc/docs/master/how-tos/s3gateway.md
Labels: 1.10, docs

#4628 Fix conflict markers in GKE instructions
  doc/docs/master/deploy-manage/deploy/google_cloud_platform.md
Labels: docs

#4620 Added missing step to create storage container in Azure docs
  doc/docs/1.9.x/deploy-manage/deploy/azure.md
  doc/docs/master/deploy-manage/deploy/azure.md
Labels: docs

#4639 Remove JupyterHub doc from nav
  doc/mkdocs-1.9.x.yml
Labels: docs

#4631 Cherry-pick #4630 into the 1.9.x branch
  src/server/pfs/server/driver.go
  src/server/transaction/server/testing/server_test.go
Labels: 1.9.13

#4634 Move Joins to the Datum section
  doc/docs/1.9.x/concepts/pipeline-concepts/datum/index.md
  doc/docs/1.9.x/concepts/pipeline-concepts/datum/join.md
  doc/docs/1.9.x/concepts/pipeline-concepts/pipeline/index.md
  doc/docs/1.9.x/how-tos/err_cmd.md
  doc/docs/1.9.x/how-tos/use-transactions-to-run-multiple-commands.md
  doc/docs/master/concepts/pipeline-concepts/datum/index.md
  doc/docs/master/concepts/pipeline-concepts/datum/join.md
  doc/docs/master/concepts/pipeline-concepts/pipeline/index.md
  doc/docs/master/how-tos/err_cmd.md
  doc/docs/master/how-tos/use-transactions-to-run-multiple-commands.md
  doc/mkdocs-1.9.x.yml
  doc/mkdocs-master.yml
  netlify.toml
Labels: docs

#4397 [DOC]Fix ListCommit description.
  src/client/pfs.go
Labels: 1.9.10, docs, user

#4501 Add pachyderm shell docs
  doc/docs/master/assets/images/s_pach_shell.png
  doc/docs/master/assets/images/s_pach_shell_list_commit.png
  doc/docs/master/assets/images/s_pach_shell_list_file.png
  doc/docs/master/assets/images/s_pach_shell_list_repo.png
  doc/docs/master/concepts/advanced-concepts/distributed_computing.md
  doc/docs/master/deploy-manage/deploy/import-kubernetes-context.md
  doc/docs/master/deploy-manage/manage/pachctl_shell.md
  doc/docs/master/getting_started/beginner_tutorial.md
  doc/docs/master/getting_started/local_installation.md
  doc/docs/master/reference/pipeline_spec.md
  doc/mkdocs-master.yml
Labels: 1.10.0, docs

#4595 Close open commits when traversing commit ancestry
  src/server/worker/api_server.go
Labels: 1.10.0

#4642 [DOC]Add create/delete pipeline sections
  doc/docs/1.9.x/concepts/advanced-concepts/distributed_computing.md
  doc/docs/1.9.x/concepts/data-concepts/repo.md
  doc/docs/1.9.x/concepts/pipeline-concepts/datum/cross-union.md
  doc/docs/1.9.x/concepts/pipeline-concepts/pipeline/cron.md
  doc/docs/1.9.x/concepts/pipeline-concepts/pipeline/index.md
  doc/docs/1.9.x/concepts/pipeline-concepts/pipeline/service.md
  doc/docs/1.9.x/deploy-manage/deploy/azure.md
  doc/docs/1.9.x/deploy-manage/deploy/deploy_w_tls.md
  doc/docs/1.9.x/deploy-manage/deploy/environment-variables.md
  doc/docs/1.9.x/deploy-manage/deploy/tracing.md
  doc/docs/1.9.x/getting_started/local_installation.md
  doc/docs/1.9.x/how-tos/err_cmd.md
  doc/docs/1.9.x/how-tos/individual-developer-workflow.md
  doc/docs/1.9.x/how-tos/ingressing_from_diff_cloud.md
  doc/docs/1.9.x/how-tos/splitting-data/adjusting_data_processing_w_split.md
  doc/docs/master/assets/stylesheets/extra.css
  doc/docs/master/concepts/advanced-concepts/distributed_computing.md
  doc/docs/master/concepts/data-concepts/repo.md
  doc/docs/master/concepts/pipeline-concepts/datum/cross-union.md
  doc/docs/master/concepts/pipeline-concepts/pipeline/cron.md
  doc/docs/master/concepts/pipeline-concepts/pipeline/index.md
  doc/docs/master/concepts/pipeline-concepts/pipeline/service.md
  doc/docs/master/deploy-manage/deploy/azure.md
  doc/docs/master/deploy-manage/deploy/deploy-pachyderm-jupyterhub.md
  doc/docs/master/deploy-manage/deploy/deploy_w_tls.md
  doc/docs/master/deploy-manage/deploy/environment-variables.md
  doc/docs/master/deploy-manage/deploy/tracing.md
  doc/docs/master/deploy-manage/manage/data_management.md
  doc/docs/master/getting_started/install-pachctl-completion.md
  doc/docs/master/getting_started/local_installation.md
  doc/docs/master/how-tos/create-pipeline.md
  doc/docs/master/how-tos/delete-pipeline.md
  doc/docs/master/how-tos/err_cmd.md
  doc/docs/master/how-tos/index.md
  doc/docs/master/how-tos/individual-developer-workflow.md
  doc/docs/master/how-tos/ingressing_from_diff_cloud.md
  doc/docs/master/how-tos/splitting-data/adjusting_data_processing_w_split.md
  doc/mkdocs-master.yml
Labels: 1.10.0, docs

#4656 Fix fetching cached chunks in recycled workers
  src/server/pkg/hashtree/cache.go
  src/server/pkg/localcache/cache.go
  src/server/worker/api_server.go
Labels: 1.10.0, bug

#4657 Resolve branch names in PFS makeCommit provenance
  src/server/pfs/server/driver.go
  src/server/pfs/server/testing/server_test.go
Labels: 1.10.0

#4626 Adds a way to delete pipelines but leave their output repos around
  go.sum
  src/client/pps/pps.pb.go
  src/client/pps/pps.proto
  src/server/pachyderm_test.go
  src/server/pps/cmds/cmds.go
  src/server/pps/server/api_server.go
Labels: needs docs

#4653 Explain the empty branch.
  doc/docs/master/concepts/data-concepts/branch.md
Labels: docs

#4547 Clarify datum_timeout, job_timeout
  doc/docs/master/reference/pipeline_spec.md
Labels: docs

#4647 Split test envs out of the testutil package
  Makefile
  src/server/pfs/server/testing/block_api_server_test.go
  src/server/pfs/server/testing/server_test.go
  src/server/pkg/testetcd/env.go
  src/server/pkg/testpachd/mock_env.go
  src/server/pkg/testpachd/mock_pachd.go
  src/server/pkg/testpachd/real_env.go
  src/server/pkg/testutil/env.go
  src/server/transaction/server/testing/server_test.go
Labels: testing
