Repository pachyderm/pachyderm, pull requests merged in 2021-09, with the labels that each got.

#6886 [Doc] [ci-skip] EOL standby field in pipeline spec
  doc/docs/master/concepts/advanced-concepts/distributed_computing.md
  doc/docs/master/deploy-manage/manage/sharing_gpu_resources.md
  doc/docs/master/reference/pipeline_spec.md
  examples/ml/gpt-2/README.md
  examples/ml/gpt-2/generate.json
  examples/ml/gpt-2/train.json
Labels: docs, 2.0.0

#6842 Configure a user accessible Issuer address for deployments when the OIDC issuer address isn't publicly accessible
  src/auth/auth.pb.go
  src/auth/auth.proto
  src/server/auth/server/oidc.go
Labels: helm

#6833 Pramaterize the existing pachyderm-bootstrap-config k8s secret
  etc/helm/examples/local-dev-values.yaml
  etc/helm/examples/local-values.yaml
  etc/helm/pachyderm/templates/pachd/config-secret.yaml
  etc/helm/pachyderm/values.schema.json
  etc/helm/pachyderm/values.yaml
  etc/helm/test/local_test.go
Labels: helm

#6914 Fix worker metrics in 2.x
  doc/docs/master/deploy-manage/deploy/prometheus/index.md
  src/internal/deploy/assets/assets.go
  src/internal/deploy/assets/enterprise.go
  src/server/pps/server/worker_rc.go
  src/server/worker/datum/datum.go
  src/server/worker/pipeline/service/service.go
  src/server/worker/stats/stats.go
Labels: bug, 2.0.0
